// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

namespace Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Cmdlets
{
    using static Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.Extensions;
    using System;

    /// <summary>
    /// Create or update a management group.\nIf a management group is already created and a subsequent create request is issued
    /// with different properties, the management group properties will be updated.
    /// </summary>
    /// <remarks>
    /// [OpenAPI] CreateOrUpdate=>PUT:"/providers/Microsoft.Management/managementGroups/{groupId}"
    /// </remarks>
    [global::System.Management.Automation.Cmdlet(global::System.Management.Automation.VerbsCommon.New, @"AzManagementGroupsApiManagementGroup_CreateExpanded", SupportsShouldProcess = true)]
    [global::System.Management.Automation.OutputType(typeof(Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Models.Api20230401.IManagementGroup))]
    [global::Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Description(@"Create or update a management group.\nIf a management group is already created and a subsequent create request is issued with different properties, the management group properties will be updated.")]
    [global::Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Generated]
    [global::Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.HttpPath(Path = "/providers/Microsoft.Management/managementGroups/{groupId}", ApiVersion = "2023-04-01")]
    public partial class NewAzManagementGroupsApiManagementGroup_CreateExpanded : global::System.Management.Automation.PSCmdlet,
        Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.IEventListener
    {
        /// <summary>A unique id generatd for the this cmdlet when it is instantiated.</summary>
        private string __correlationId = System.Guid.NewGuid().ToString();

        /// <summary>A copy of the Invocation Info (necessary to allow asJob to clone this cmdlet)</summary>
        private global::System.Management.Automation.InvocationInfo __invocationInfo;

        /// <summary>A unique id generatd for the this cmdlet when ProcessRecord() is called.</summary>
        private string __processRecordId;

        /// <summary>
        /// The <see cref="global::System.Threading.CancellationTokenSource" /> for this operation.
        /// </summary>
        private global::System.Threading.CancellationTokenSource _cancellationTokenSource = new global::System.Threading.CancellationTokenSource();

        /// <summary>The management group details.</summary>
        private Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Models.Api20230401.IManagementGroup _resourceBody = new Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Models.Api20230401.ManagementGroup();

        /// <summary>when specified, runs this cmdlet as a PowerShell job</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Run the command as a job")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.ParameterCategory.Runtime)]
        public global::System.Management.Automation.SwitchParameter AsJob { get; set; }

        /// <summary>Wait for .NET debugger to attach</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, DontShow = true, HelpMessage = "Wait for .NET debugger to attach")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.ParameterCategory.Runtime)]
        public global::System.Management.Automation.SwitchParameter Break { get; set; }

        /// <summary>Backing field for <see cref="CacheControl" /> property.</summary>
        private string _cacheControl;

        /// <summary>
        /// Indicates whether the request should utilize any caches. Populate the header with 'no-cache' value to bypass existing
        /// caches.
        /// </summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Indicates whether the request should utilize any caches. Populate the header with 'no-cache' value to bypass existing caches.")]
        [Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Indicates whether the request should utilize any caches. Populate the header with 'no-cache' value to bypass existing caches.",
        SerializedName = @"cache-control",
        PossibleTypes = new [] { typeof(string) })]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.ParameterCategory.Header)]
        public string CacheControl { get => this._cacheControl; set => this._cacheControl = value; }

        /// <summary>The list of children.</summary>
        [global::System.Management.Automation.AllowEmptyCollection]
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The list of children.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The list of children.",
        SerializedName = @"children",
        PossibleTypes = new [] { typeof(Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Models.Api20230401.IManagementGroupChildInfo) })]
        public Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Models.Api20230401.IManagementGroupChildInfo[] Child { get => _resourceBody.Child ?? null /* arrayOf */; set => _resourceBody.Child = value; }

        /// <summary>The reference to the client API class.</summary>
        public Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.ManagementGroupsApi Client => Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Module.Instance.ClientAPI;

        /// <summary>
        /// The DefaultProfile parameter is not functional. Use the SubscriptionId parameter when available if executing the cmdlet
        /// against a different subscription
        /// </summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The DefaultProfile parameter is not functional. Use the SubscriptionId parameter when available if executing the cmdlet against a different subscription.")]
        [global::System.Management.Automation.ValidateNotNull]
        [global::System.Management.Automation.Alias("AzureRMContext", "AzureCredential")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.ParameterCategory.Azure)]
        public global::System.Management.Automation.PSObject DefaultProfile { get; set; }

        /// <summary>The ancestors of the management group.</summary>
        [global::System.Management.Automation.AllowEmptyCollection]
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The ancestors of the management group.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The ancestors of the management group.",
        SerializedName = @"managementGroupAncestors",
        PossibleTypes = new [] { typeof(string) })]
        public string[] DetailManagementGroupAncestor { get => _resourceBody.DetailManagementGroupAncestor ?? null /* arrayOf */; set => _resourceBody.DetailManagementGroupAncestor = value; }

        /// <summary>
        /// The ancestors of the management group displayed in reversed order, from immediate parent to the root.
        /// </summary>
        [global::System.Management.Automation.AllowEmptyCollection]
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The ancestors of the management group displayed in reversed order, from immediate parent to the root.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The ancestors of the management group displayed in reversed order, from immediate parent to the root.",
        SerializedName = @"managementGroupAncestorsChain",
        PossibleTypes = new [] { typeof(Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Models.Api20230401.IManagementGroupPathElement) })]
        public Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Models.Api20230401.IManagementGroupPathElement[] DetailManagementGroupAncestorsChain { get => _resourceBody.DetailManagementGroupAncestorsChain ?? null /* arrayOf */; set => _resourceBody.DetailManagementGroupAncestorsChain = value; }

        /// <summary>The path from the root to the current group.</summary>
        [global::System.Management.Automation.AllowEmptyCollection]
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The path from the root to the current group.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The path from the root to the current group.",
        SerializedName = @"path",
        PossibleTypes = new [] { typeof(Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Models.Api20230401.IManagementGroupPathElement) })]
        public Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Models.Api20230401.IManagementGroupPathElement[] DetailPath { get => _resourceBody.DetailPath ?? null /* arrayOf */; set => _resourceBody.DetailPath = value; }

        /// <summary>The identity of the principal or process that updated the object.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The identity of the principal or process that updated the object.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The identity of the principal or process that updated the object.",
        SerializedName = @"updatedBy",
        PossibleTypes = new [] { typeof(string) })]
        public string DetailUpdatedBy { get => _resourceBody.DetailUpdatedBy ?? null; set => _resourceBody.DetailUpdatedBy = value; }

        /// <summary>The date and time when this object was last updated.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The date and time when this object was last updated.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The date and time when this object was last updated.",
        SerializedName = @"updatedTime",
        PossibleTypes = new [] { typeof(global::System.DateTime) })]
        public global::System.DateTime DetailUpdatedTime { get => _resourceBody.DetailUpdatedTime ?? default(global::System.DateTime); set => _resourceBody.DetailUpdatedTime = value; }

        /// <summary>The version number of the object.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The version number of the object.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The version number of the object.",
        SerializedName = @"version",
        PossibleTypes = new [] { typeof(int) })]
        public int DetailVersion { get => _resourceBody.DetailVersion ?? default(int); set => _resourceBody.DetailVersion = value; }

        /// <summary>The friendly name of the management group.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The friendly name of the management group.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The friendly name of the management group.",
        SerializedName = @"displayName",
        PossibleTypes = new [] { typeof(string) })]
        public string DisplayName { get => _resourceBody.DisplayName ?? null; set => _resourceBody.DisplayName = value; }

        /// <summary>Backing field for <see cref="GroupId" /> property.</summary>
        private string _groupId;

        /// <summary>Management Group ID.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = true, HelpMessage = "Management Group ID.")]
        [Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.Info(
        Required = true,
        ReadOnly = false,
        Description = @"Management Group ID.",
        SerializedName = @"groupId",
        PossibleTypes = new [] { typeof(string) })]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.ParameterCategory.Path)]
        public string GroupId { get => this._groupId; set => this._groupId = value; }

        /// <summary>SendAsync Pipeline Steps to be appended to the front of the pipeline</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, DontShow = true, HelpMessage = "SendAsync Pipeline Steps to be appended to the front of the pipeline")]
        [global::System.Management.Automation.ValidateNotNull]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.ParameterCategory.Runtime)]
        public Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.SendAsyncStep[] HttpPipelineAppend { get; set; }

        /// <summary>SendAsync Pipeline Steps to be prepended to the front of the pipeline</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, DontShow = true, HelpMessage = "SendAsync Pipeline Steps to be prepended to the front of the pipeline")]
        [global::System.Management.Automation.ValidateNotNull]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.ParameterCategory.Runtime)]
        public Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.SendAsyncStep[] HttpPipelinePrepend { get; set; }

        /// <summary>Accessor for our copy of the InvocationInfo.</summary>
        public global::System.Management.Automation.InvocationInfo InvocationInformation { get => __invocationInfo = __invocationInfo ?? this.MyInvocation ; set { __invocationInfo = value; } }

        /// <summary>
        /// <see cref="Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.IEventListener" /> cancellation delegate. Stops the cmdlet when called.
        /// </summary>
        global::System.Action Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.IEventListener.Cancel => _cancellationTokenSource.Cancel;

        /// <summary><see cref="Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.IEventListener" /> cancellation token.</summary>
        global::System.Threading.CancellationToken Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.IEventListener.Token => _cancellationTokenSource.Token;

        /// <summary>
        /// when specified, will make the remote call, and return an AsyncOperationResponse, letting the remote operation continue
        /// asynchronously.
        /// </summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Run the command asynchronously")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.ParameterCategory.Runtime)]
        public global::System.Management.Automation.SwitchParameter NoWait { get; set; }

        /// <summary>The friendly name of the parent management group.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The friendly name of the parent management group.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The friendly name of the parent management group.",
        SerializedName = @"displayName",
        PossibleTypes = new [] { typeof(string) })]
        public string ParentDisplayName { get => _resourceBody.ParentDisplayName ?? null; set => _resourceBody.ParentDisplayName = value; }

        /// <summary>
        /// The fully qualified ID for the parent management group. For example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000
        /// </summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The fully qualified ID for the parent management group. For example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The fully qualified ID for the parent management group. For example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000",
        SerializedName = @"id",
        PossibleTypes = new [] { typeof(string) })]
        public string ParentId { get => _resourceBody.ParentId ?? null; set => _resourceBody.ParentId = value; }

        /// <summary>The name of the parent management group</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The name of the parent management group")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The name of the parent management group",
        SerializedName = @"name",
        PossibleTypes = new [] { typeof(string) })]
        public string ParentName { get => _resourceBody.ParentName ?? null; set => _resourceBody.ParentName = value; }

        /// <summary>
        /// The instance of the <see cref="Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.HttpPipeline" /> that the remote call will use.
        /// </summary>
        private Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.HttpPipeline Pipeline { get; set; }

        /// <summary>The URI for the proxy server to use</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, DontShow = true, HelpMessage = "The URI for the proxy server to use")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.ParameterCategory.Runtime)]
        public global::System.Uri Proxy { get; set; }

        /// <summary>Credentials for a proxy server to use for the remote call</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, DontShow = true, HelpMessage = "Credentials for a proxy server to use for the remote call")]
        [global::System.Management.Automation.ValidateNotNull]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.ParameterCategory.Runtime)]
        public global::System.Management.Automation.PSCredential ProxyCredential { get; set; }

        /// <summary>Use the default credentials for the proxy</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, DontShow = true, HelpMessage = "Use the default credentials for the proxy")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.ParameterCategory.Runtime)]
        public global::System.Management.Automation.SwitchParameter ProxyUseDefaultCredentials { get; set; }

        /// <summary>
        /// The AAD Tenant ID associated with the management group. For example, 00000000-0000-0000-0000-000000000000
        /// </summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The AAD Tenant ID associated with the management group. For example, 00000000-0000-0000-0000-000000000000")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The AAD Tenant ID associated with the management group. For example, 00000000-0000-0000-0000-000000000000",
        SerializedName = @"tenantId",
        PossibleTypes = new [] { typeof(string) })]
        public string TenantId { get => _resourceBody.TenantId ?? null; set => _resourceBody.TenantId = value; }

        /// <summary>
        /// <c>overrideOnDefault</c> will be called before the regular onDefault has been processed, allowing customization of what
        /// happens on that response. Implement this method in a partial class to enable this behavior
        /// </summary>
        /// <param name="responseMessage">the raw response message as an global::System.Net.Http.HttpResponseMessage.</param>
        /// <param name="response">the body result as a <see cref="Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Models.Api30.IErrorResponse">Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Models.Api30.IErrorResponse</see>
        /// from the remote call</param>
        /// <param name="returnNow">/// Determines if the rest of the onDefault method should be processed, or if the method should
        /// return immediately (set to true to skip further processing )</param>

        partial void overrideOnDefault(global::System.Net.Http.HttpResponseMessage responseMessage, global::System.Threading.Tasks.Task<Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Models.Api30.IErrorResponse> response, ref global::System.Threading.Tasks.Task<bool> returnNow);

        /// <summary>
        /// <c>overrideOnOk</c> will be called before the regular onOk has been processed, allowing customization of what happens
        /// on that response. Implement this method in a partial class to enable this behavior
        /// </summary>
        /// <param name="responseMessage">the raw response message as an global::System.Net.Http.HttpResponseMessage.</param>
        /// <param name="response">the body result as a <see cref="Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Models.Api20230401.IManagementGroup">Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Models.Api20230401.IManagementGroup</see>
        /// from the remote call</param>
        /// <param name="returnNow">/// Determines if the rest of the onOk method should be processed, or if the method should return
        /// immediately (set to true to skip further processing )</param>

        partial void overrideOnOk(global::System.Net.Http.HttpResponseMessage responseMessage, global::System.Threading.Tasks.Task<Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Models.Api20230401.IManagementGroup> response, ref global::System.Threading.Tasks.Task<bool> returnNow);

        /// <summary>
        /// (overrides the default BeginProcessing method in global::System.Management.Automation.PSCmdlet)
        /// </summary>
        protected override void BeginProcessing()
        {
            var telemetryId = Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Module.Instance.GetTelemetryId.Invoke();
            if (telemetryId != "" && telemetryId != "internal")
            {
                __correlationId = telemetryId;
            }
            Module.Instance.SetProxyConfiguration(Proxy, ProxyCredential, ProxyUseDefaultCredentials);
            if (Break)
            {
                Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.AttachDebugger.Break();
            }
            ((Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.Events.CmdletBeginProcessing).Wait(); if( ((Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.IEventListener)this).Token.IsCancellationRequested ) { return; }
        }

        /// <summary>Creates a duplicate instance of this cmdlet (via JSON serialization).</summary>
        /// <returns>a duplicate instance of NewAzManagementGroupsApiManagementGroup_CreateExpanded</returns>
        public Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Cmdlets.NewAzManagementGroupsApiManagementGroup_CreateExpanded Clone()
        {
            var clone = new NewAzManagementGroupsApiManagementGroup_CreateExpanded();
            clone.__correlationId = this.__correlationId;
            clone.__processRecordId = this.__processRecordId;
            clone.DefaultProfile = this.DefaultProfile;
            clone.InvocationInformation = this.InvocationInformation;
            clone.Proxy = this.Proxy;
            clone.Pipeline = this.Pipeline;
            clone.AsJob = this.AsJob;
            clone.Break = this.Break;
            clone.ProxyCredential = this.ProxyCredential;
            clone.ProxyUseDefaultCredentials = this.ProxyUseDefaultCredentials;
            clone.HttpPipelinePrepend = this.HttpPipelinePrepend;
            clone.HttpPipelineAppend = this.HttpPipelineAppend;
            clone._resourceBody = this._resourceBody;
            clone.CacheControl = this.CacheControl;
            clone.GroupId = this.GroupId;
            return clone;
        }

        /// <summary>Performs clean-up after the command execution</summary>
        protected override void EndProcessing()
        {
            var telemetryInfo = Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Module.Instance.GetTelemetryInfo?.Invoke(__correlationId);
            if (telemetryInfo != null)
            {
                telemetryInfo.TryGetValue("ShowSecretsWarning", out var showSecretsWarning);
                telemetryInfo.TryGetValue("SanitizedProperties", out var sanitizedProperties);
                telemetryInfo.TryGetValue("InvocationName", out var invocationName);
                if (showSecretsWarning == "true")
                {
                    if (string.IsNullOrEmpty(sanitizedProperties))
                    {
                        WriteWarning($"The output of cmdlet {invocationName} may compromise security by showing secrets. Learn more at https://go.microsoft.com/fwlink/?linkid=2258844");
                    }
                    else
                    {
                        WriteWarning($"The output of cmdlet {invocationName} may compromise security by showing the following secrets: {sanitizedProperties}. Learn more at https://go.microsoft.com/fwlink/?linkid=2258844");
                    }
                }
            }
        }

        /// <summary>Handles/Dispatches events during the call to the REST service.</summary>
        /// <param name="id">The message id</param>
        /// <param name="token">The message cancellation token. When this call is cancelled, this should be <c>true</c></param>
        /// <param name="messageData">Detailed message data for the message event.</param>
        /// <returns>
        /// A <see cref="global::System.Threading.Tasks.Task" /> that will be complete when handling of the message is completed.
        /// </returns>
         async global::System.Threading.Tasks.Task Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.IEventListener.Signal(string id, global::System.Threading.CancellationToken token, global::System.Func<Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.EventData> messageData)
        {
            using( NoSynchronizationContext )
            {
                if (token.IsCancellationRequested)
                {
                    return ;
                }

                switch ( id )
                {
                    case Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.Events.Verbose:
                    {
                        WriteVerbose($"{(messageData().Message ?? global::System.String.Empty)}");
                        return ;
                    }
                    case Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.Events.Warning:
                    {
                        WriteWarning($"{(messageData().Message ?? global::System.String.Empty)}");
                        return ;
                    }
                    case Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.Events.Information:
                    {
                        // When an operation supports asjob, Information messages must go thru verbose.
                        WriteVerbose($"INFORMATION: {(messageData().Message ?? global::System.String.Empty)}");
                        return ;
                    }
                    case Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.Events.Debug:
                    {
                        WriteDebug($"{(messageData().Message ?? global::System.String.Empty)}");
                        return ;
                    }
                    case Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.Events.Error:
                    {
                        WriteError(new global::System.Management.Automation.ErrorRecord( new global::System.Exception(messageData().Message), string.Empty, global::System.Management.Automation.ErrorCategory.NotSpecified, null ) );
                        return ;
                    }
                    case Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.Events.DelayBeforePolling:
                    {
                        if (true == MyInvocation?.BoundParameters?.ContainsKey("NoWait"))
                        {
                            var data = messageData();
                            if (data.ResponseMessage is System.Net.Http.HttpResponseMessage response)
                            {
                                var asyncOperation = response.GetFirstHeader(@"Azure-AsyncOperation");
                                var location = response.GetFirstHeader(@"Location");
                                var uri = global::System.String.IsNullOrEmpty(asyncOperation) ? global::System.String.IsNullOrEmpty(location) ? response.RequestMessage.RequestUri.AbsoluteUri : location : asyncOperation;
                                WriteObject(new Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.PowerShell.AsyncOperationResponse { Target = uri });
                                // do nothing more.
                                data.Cancel();
                                return;
                            }
                        }
                        break;
                    }
                }
                await Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Module.Instance.Signal(id, token, messageData, (i,t,m) => ((Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.IEventListener)this).Signal(i,t,()=> Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.EventDataConverter.ConvertFrom( m() ) as Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.EventData ), InvocationInformation, this.ParameterSetName, __correlationId, __processRecordId, null );
                if (token.IsCancellationRequested)
                {
                    return ;
                }
                WriteDebug($"{id}: {(messageData().Message ?? global::System.String.Empty)}");
            }
        }

        /// <summary>
        /// Intializes a new instance of the <see cref="NewAzManagementGroupsApiManagementGroup_CreateExpanded" /> cmdlet class.
        /// </summary>
        public NewAzManagementGroupsApiManagementGroup_CreateExpanded()
        {

        }

        /// <summary>Performs execution of the command.</summary>
        protected override void ProcessRecord()
        {
            ((Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.Events.CmdletProcessRecordStart).Wait(); if( ((Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.IEventListener)this).Token.IsCancellationRequested ) { return; }
            __processRecordId = System.Guid.NewGuid().ToString();
            try
            {
                // work
                if (ShouldProcess($"Call remote 'ManagementGroupsCreateOrUpdate' operation"))
                {
                    if (true == MyInvocation?.BoundParameters?.ContainsKey("AsJob"))
                    {
                        var instance = this.Clone();
                        var job = new Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.PowerShell.AsyncJob(instance, this.MyInvocation.Line, this.MyInvocation.MyCommand.Name, this._cancellationTokenSource.Token, this._cancellationTokenSource.Cancel);
                        JobRepository.Add(job);
                        var task = instance.ProcessRecordAsync();
                        job.Monitor(task);
                        WriteObject(job);
                    }
                    else
                    {
                        using( var asyncCommandRuntime = new Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.PowerShell.AsyncCommandRuntime(this, ((Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.IEventListener)this).Token) )
                        {
                            asyncCommandRuntime.Wait( ProcessRecordAsync(),((Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.IEventListener)this).Token);
                        }
                    }
                }
            }
            catch (global::System.AggregateException aggregateException)
            {
                // unroll the inner exceptions to get the root cause
                foreach( var innerException in aggregateException.Flatten().InnerExceptions )
                {
                    ((Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.Events.CmdletException, $"{innerException.GetType().Name} - {innerException.Message} : {innerException.StackTrace}").Wait(); if( ((Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.IEventListener)this).Token.IsCancellationRequested ) { return; }
                    // Write exception out to error channel.
                    WriteError( new global::System.Management.Automation.ErrorRecord(innerException,string.Empty, global::System.Management.Automation.ErrorCategory.NotSpecified, null) );
                }
            }
            catch (global::System.Exception exception) when ((exception as System.Management.Automation.PipelineStoppedException)== null || (exception as System.Management.Automation.PipelineStoppedException).InnerException != null)
            {
                ((Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.Events.CmdletException, $"{exception.GetType().Name} - {exception.Message} : {exception.StackTrace}").Wait(); if( ((Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.IEventListener)this).Token.IsCancellationRequested ) { return; }
                // Write exception out to error channel.
                WriteError( new global::System.Management.Automation.ErrorRecord(exception,string.Empty, global::System.Management.Automation.ErrorCategory.NotSpecified, null) );
            }
            finally
            {
                ((Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.Events.CmdletProcessRecordEnd).Wait();
            }
        }

        /// <summary>Performs execution of the command, working asynchronously if required.</summary>
        /// <returns>
        /// A <see cref="global::System.Threading.Tasks.Task" /> that will be complete when handling of the method is completed.
        /// </returns>
        protected async global::System.Threading.Tasks.Task ProcessRecordAsync()
        {
            using( NoSynchronizationContext )
            {
                await ((Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.Events.CmdletGetPipeline); if( ((Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.IEventListener)this).Token.IsCancellationRequested ) { return; }
                Pipeline = Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Module.Instance.CreatePipeline(InvocationInformation, __correlationId, __processRecordId, this.ParameterSetName);
                if (null != HttpPipelinePrepend)
                {
                    Pipeline.Prepend((this.CommandRuntime as Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.PowerShell.IAsyncCommandRuntimeExtensions)?.Wrap(HttpPipelinePrepend) ?? HttpPipelinePrepend);
                }
                if (null != HttpPipelineAppend)
                {
                    Pipeline.Append((this.CommandRuntime as Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.PowerShell.IAsyncCommandRuntimeExtensions)?.Wrap(HttpPipelineAppend) ?? HttpPipelineAppend);
                }
                // get the client instance
                try
                {
                    await ((Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.Events.CmdletBeforeAPICall); if( ((Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.IEventListener)this).Token.IsCancellationRequested ) { return; }
                    await this.Client.ManagementGroupsCreateOrUpdate(this.InvocationInformation.BoundParameters.ContainsKey("CacheControl") ? CacheControl : null, GroupId, _resourceBody, onOk, onDefault, this, Pipeline);
                    await ((Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.Events.CmdletAfterAPICall); if( ((Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.IEventListener)this).Token.IsCancellationRequested ) { return; }
                }
                catch (Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.UndeclaredResponseException urexception)
                {
                    WriteError(new global::System.Management.Automation.ErrorRecord(urexception, urexception.StatusCode.ToString(), global::System.Management.Automation.ErrorCategory.InvalidOperation, new {  CacheControl=this.InvocationInformation.BoundParameters.ContainsKey("CacheControl") ? CacheControl : null,GroupId=GroupId,body=_resourceBody})
                    {
                      ErrorDetails = new global::System.Management.Automation.ErrorDetails(urexception.Message) { RecommendedAction = urexception.Action }
                    });
                }
                finally
                {
                    await ((Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.Events.CmdletProcessRecordAsyncEnd);
                }
            }
        }

        /// <summary>Interrupts currently running code within the command.</summary>
        protected override void StopProcessing()
        {
            ((Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.IEventListener)this).Cancel();
            base.StopProcessing();
        }

        /// <param name="sendToPipeline"></param>
        new protected void WriteObject(object sendToPipeline)
        {
            Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Module.Instance.SanitizeOutput?.Invoke(sendToPipeline, __correlationId);
            base.WriteObject(sendToPipeline);
        }

        /// <param name="sendToPipeline"></param>
        /// <param name="enumerateCollection"></param>
        new protected void WriteObject(object sendToPipeline, bool enumerateCollection)
        {
            Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Module.Instance.SanitizeOutput?.Invoke(sendToPipeline, __correlationId);
            base.WriteObject(sendToPipeline, enumerateCollection);
        }

        /// <summary>
        /// a delegate that is called when the remote service returns default (any response code not handled elsewhere).
        /// </summary>
        /// <param name="responseMessage">the raw response message as an global::System.Net.Http.HttpResponseMessage.</param>
        /// <param name="response">the body result as a <see cref="Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Models.Api30.IErrorResponse">Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Models.Api30.IErrorResponse</see>
        /// from the remote call</param>
        /// <returns>
        /// A <see cref="global::System.Threading.Tasks.Task" /> that will be complete when handling of the method is completed.
        /// </returns>
        private async global::System.Threading.Tasks.Task onDefault(global::System.Net.Http.HttpResponseMessage responseMessage, global::System.Threading.Tasks.Task<Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Models.Api30.IErrorResponse> response)
        {
            using( NoSynchronizationContext )
            {
                var _returnNow = global::System.Threading.Tasks.Task<bool>.FromResult(false);
                overrideOnDefault(responseMessage, response, ref _returnNow);
                // if overrideOnDefault has returned true, then return right away.
                if ((null != _returnNow && await _returnNow))
                {
                    return ;
                }
                // Error Response : default
                var code = (await response)?.Code;
                var message = (await response)?.Message;
                if ((null == code || null == message))
                {
                    // Unrecognized Response. Create an error record based on what we have.
                    var ex = new Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Runtime.RestException<Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Models.Api30.IErrorResponse>(responseMessage, await response);
                    WriteError( new global::System.Management.Automation.ErrorRecord(ex, ex.Code, global::System.Management.Automation.ErrorCategory.InvalidOperation, new { CacheControl=this.InvocationInformation.BoundParameters.ContainsKey("CacheControl") ? CacheControl : null, GroupId=GroupId, body=_resourceBody })
                    {
                      ErrorDetails = new global::System.Management.Automation.ErrorDetails(ex.Message) { RecommendedAction = ex.Action }
                    });
                }
                else
                {
                    WriteError( new global::System.Management.Automation.ErrorRecord(new global::System.Exception($"[{code}] : {message}"), code?.ToString(), global::System.Management.Automation.ErrorCategory.InvalidOperation, new { CacheControl=this.InvocationInformation.BoundParameters.ContainsKey("CacheControl") ? CacheControl : null, GroupId=GroupId, body=_resourceBody })
                    {
                      ErrorDetails = new global::System.Management.Automation.ErrorDetails(message) { RecommendedAction = global::System.String.Empty }
                    });
                }
            }
        }

        /// <summary>a delegate that is called when the remote service returns 200 (OK).</summary>
        /// <param name="responseMessage">the raw response message as an global::System.Net.Http.HttpResponseMessage.</param>
        /// <param name="response">the body result as a <see cref="Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Models.Api20230401.IManagementGroup">Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Models.Api20230401.IManagementGroup</see>
        /// from the remote call</param>
        /// <returns>
        /// A <see cref="global::System.Threading.Tasks.Task" /> that will be complete when handling of the method is completed.
        /// </returns>
        private async global::System.Threading.Tasks.Task onOk(global::System.Net.Http.HttpResponseMessage responseMessage, global::System.Threading.Tasks.Task<Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Models.Api20230401.IManagementGroup> response)
        {
            using( NoSynchronizationContext )
            {
                var _returnNow = global::System.Threading.Tasks.Task<bool>.FromResult(false);
                overrideOnOk(responseMessage, response, ref _returnNow);
                // if overrideOnOk has returned true, then return right away.
                if ((null != _returnNow && await _returnNow))
                {
                    return ;
                }
                // onOk - response for 200 / application/json
                // (await response) // should be Microsoft.Azure.PowerShell.Cmdlets.ManagementGroupsApi.Models.Api20230401.IManagementGroup
                WriteObject((await response));
            }
        }
    }
}