// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

namespace Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Cmdlets
{
    using static Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.Extensions;
    using System;

    /// <summary>
    /// Create a ApiGatewayRestApi. Please note that end user resource creation is currently restricted, but it will be enabled
    /// in the future.
    /// </summary>
    /// <remarks>
    /// [OpenAPI] CreateOrReplace=>PUT:"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/apiGatewayRestApis/{name}"
    /// </remarks>
    [global::System.Management.Automation.Cmdlet(global::System.Management.Automation.VerbsCommon.New, @"AzAwsConnectorApiGatewayRestApi_CreateExpanded", SupportsShouldProcess = true)]
    [global::System.Management.Automation.OutputType(typeof(Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Models.Api20241201.IApiGatewayRestApi))]
    [global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Description(@"Create a ApiGatewayRestApi. Please note that end user resource creation is currently restricted, but it will be enabled in the future.")]
    [global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Generated]
    [global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.HttpPath(Path = "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/apiGatewayRestApis/{name}", ApiVersion = "2024-12-01")]
    public partial class NewAzAwsConnectorApiGatewayRestApi_CreateExpanded : global::System.Management.Automation.PSCmdlet,
        Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.IEventListener
    {
        /// <summary>A unique id generatd for the this cmdlet when it is instantiated.</summary>
        private string __correlationId = System.Guid.NewGuid().ToString();

        /// <summary>A copy of the Invocation Info (necessary to allow asJob to clone this cmdlet)</summary>
        private global::System.Management.Automation.InvocationInfo __invocationInfo;

        /// <summary>A unique id generatd for the this cmdlet when ProcessRecord() is called.</summary>
        private string __processRecordId;

        /// <summary>
        /// The <see cref="global::System.Threading.CancellationTokenSource" /> for this operation.
        /// </summary>
        private global::System.Threading.CancellationTokenSource _cancellationTokenSource = new global::System.Threading.CancellationTokenSource();

        /// <summary>A Microsoft.AwsConnector resource</summary>
        private Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Models.Api20241201.IApiGatewayRestApi _resourceBody = new Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Models.Api20241201.ApiGatewayRestApi();

        /// <summary>Amazon Resource Name (ARN)</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Amazon Resource Name (ARN)")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Category(global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Amazon Resource Name (ARN)",
        SerializedName = @"arn",
        PossibleTypes = new [] { typeof(string) })]
        public string Arn { get => _resourceBody.Arn ?? null; set => _resourceBody.Arn = value; }

        /// <summary>when specified, runs this cmdlet as a PowerShell job</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Run the command as a job")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Category(global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.ParameterCategory.Runtime)]
        public global::System.Management.Automation.SwitchParameter AsJob { get; set; }

        /// <summary>
        /// The source of the API key for metering requests according to a usage plan. Valid values are: ``HEADER`` to read the API
        /// key from the ``X-API-Key`` header of a request. ``AUTHORIZER`` to read the API key from the ``UsageIdentifierKey`` from
        /// a custom authorizer.
        /// </summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The source of the API key for metering requests according to a usage plan. Valid values are: ``HEADER`` to read the API key from the ``X-API-Key`` header of a request. ``AUTHORIZER`` to read the API key from the ``UsageIdentifierKey`` from a custom authorizer.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Category(global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The source of the API key for metering requests according to a usage plan. Valid values are: ``HEADER`` to read the API key from the ``X-API-Key`` header of a request. ``AUTHORIZER`` to read the API key from the ``UsageIdentifierKey`` from a custom authorizer.",
        SerializedName = @"apiKeySourceType",
        PossibleTypes = new [] { typeof(string) })]
        public string AwPropertyApiKeySourceType { get => _resourceBody.AwPropertyApiKeySourceType ?? null; set => _resourceBody.AwPropertyApiKeySourceType = value; }

        /// <summary>
        /// The list of binary media types supported by the RestApi. By default, the RestApi supports only UTF-8-encoded text payloads.
        /// </summary>
        [global::System.Management.Automation.AllowEmptyCollection]
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The list of binary media types supported by the RestApi. By default, the RestApi supports only UTF-8-encoded text payloads.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Category(global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The list of binary media types supported by the RestApi. By default, the RestApi supports only UTF-8-encoded text payloads.",
        SerializedName = @"binaryMediaTypes",
        PossibleTypes = new [] { typeof(string) })]
        public string[] AwPropertyBinaryMediaType { get => _resourceBody.AwPropertyBinaryMediaType ?? null /* arrayOf */; set => _resourceBody.AwPropertyBinaryMediaType = value; }

        /// <summary>
        /// An OpenAPI specification that defines a set of RESTful APIs in JSON format. For YAML templates, you can also provide the
        /// specification in YAML format.
        /// </summary>
        [global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.ExportAs(typeof(global::System.Collections.Hashtable))]
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "An OpenAPI specification that defines a set of RESTful APIs in JSON format. For YAML templates, you can also provide the specification in YAML format.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Category(global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"An OpenAPI specification that defines a set of RESTful APIs in JSON format. For YAML templates, you can also provide the specification in YAML format.",
        SerializedName = @"body",
        PossibleTypes = new [] { typeof(Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Models.Api20241201.IAwsApiGatewayRestApiPropertiesBody) })]
        public Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Models.Api20241201.IAwsApiGatewayRestApiPropertiesBody AwPropertyBody { get => _resourceBody.AwPropertyBody ?? null /* object */; set => _resourceBody.AwPropertyBody = value; }

        /// <summary>The ID of the RestApi that you want to clone from.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The ID of the RestApi that you want to clone from.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Category(global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The ID of the RestApi that you want to clone from.",
        SerializedName = @"cloneFrom",
        PossibleTypes = new [] { typeof(string) })]
        public string AwPropertyCloneFrom { get => _resourceBody.AwPropertyCloneFrom ?? null; set => _resourceBody.AwPropertyCloneFrom = value; }

        /// <summary>The description of the RestApi.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The description of the RestApi.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Category(global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The description of the RestApi.",
        SerializedName = @"description",
        PossibleTypes = new [] { typeof(string) })]
        public string AwPropertyDescription { get => _resourceBody.AwPropertyDescription ?? null; set => _resourceBody.AwPropertyDescription = value; }

        /// <summary>
        /// Specifies whether clients can invoke your API by using the default ``execute-api`` endpoint. By default, clients can invoke
        /// your API with the default ``https://{api_id}.execute-api.{region}.amazonaws.com`` endpoint. To require that clients use
        /// a custom domain name to invoke your API, disable the default endpoint
        /// </summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Specifies whether clients can invoke your API by using the default ``execute-api`` endpoint. By default, clients can invoke your API with the default ``https://{api_id}.execute-api.{region}.amazonaws.com`` endpoint. To require that clients use a custom domain name to invoke your API, disable the default endpoint")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Category(global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Specifies whether clients can invoke your API by using the default ``execute-api`` endpoint. By default, clients can invoke your API with the default ``https://{api_id}.execute-api.{region}.amazonaws.com`` endpoint. To require that clients use a custom domain name to invoke your API, disable the default endpoint",
        SerializedName = @"disableExecuteApiEndpoint",
        PossibleTypes = new [] { typeof(global::System.Management.Automation.SwitchParameter) })]
        public global::System.Management.Automation.SwitchParameter AwPropertyDisableExecuteApiEndpoint { get => _resourceBody.AwPropertyDisableExecuteApiEndpoint ?? default(global::System.Management.Automation.SwitchParameter); set => _resourceBody.AwPropertyDisableExecuteApiEndpoint = value; }

        /// <summary>
        /// A query parameter to indicate whether to rollback the API update (``true``) or not (``false``) when a warning is encountered.
        /// The default value is ``false``.
        /// </summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "A query parameter to indicate whether to rollback the API update (``true``) or not (``false``) when a warning is encountered. The default value is ``false``.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Category(global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"A query parameter to indicate whether to rollback the API update (``true``) or not (``false``) when a warning is encountered. The default value is ``false``.",
        SerializedName = @"failOnWarnings",
        PossibleTypes = new [] { typeof(global::System.Management.Automation.SwitchParameter) })]
        public global::System.Management.Automation.SwitchParameter AwPropertyFailOnWarning { get => _resourceBody.AwPropertyFailOnWarning ?? default(global::System.Management.Automation.SwitchParameter); set => _resourceBody.AwPropertyFailOnWarning = value; }

        /// <summary>
        /// A nullable integer that is used to enable compression (with non-negative between 0 and 10485760 (10M) bytes, inclusive)
        /// or disable compression (with a null value) on an API. When compression is enabled, compression or decompression is not
        /// applied on the payload if the payload size is smaller than this value. Setting it to zero allows compression for any payload
        /// size.
        /// </summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "A nullable integer that is used to enable compression (with non-negative between 0 and 10485760 (10M) bytes, inclusive) or disable compression (with a null value) on an API. When compression is enabled, compression or decompression is not applied on the payload if the payload size is smaller than this value. Setting it to zero allows compression for any payload size.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Category(global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"A nullable integer that is used to enable compression (with non-negative between 0 and 10485760 (10M) bytes, inclusive) or disable compression (with a null value) on an API. When compression is enabled, compression or decompression is not applied on the payload if the payload size is smaller than this value. Setting it to zero allows compression for any payload size.",
        SerializedName = @"minimumCompressionSize",
        PossibleTypes = new [] { typeof(int) })]
        public int AwPropertyMinimumCompressionSize { get => _resourceBody.AwPropertyMinimumCompressionSize ?? default(int); set => _resourceBody.AwPropertyMinimumCompressionSize = value; }

        /// <summary>
        /// This property applies only when you use OpenAPI to define your REST API. The ``Mode`` determines how API Gateway handles
        /// resource updates. Valid values are ``overwrite`` or ``merge``. For ``overwrite``, the new API definition replaces the
        /// existing one. The existing API identifier remains unchanged. For ``merge``, the new API definition is merged with the
        /// existing API. If you don't specify this property, a default value is chosen. For REST APIs created before March 29, 2021,
        /// the default is ``overwrite``. For REST APIs created after March 29, 2021, the new API definition takes precedence, but
        /// any container types such as endpoint configurations and binary media types are merged with the existing API. Use the default
        /// mode to define top-level ``RestApi`` properties in addition to using OpenAPI. Generally, it's preferred to use API Gateway's
        /// OpenAPI extensions to model these properties.
        /// </summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "This property applies only when you use OpenAPI to define your REST API. The ``Mode`` determines how API Gateway handles resource updates. Valid values are ``overwrite`` or ``merge``. For ``overwrite``, the new API definition replaces the existing one. The existing API identifier remains unchanged. For ``merge``, the new API definition is merged with the existing API. If you don't specify this property, a default value is chosen. For REST APIs created before March 29, 2021, the default is ``overwrite``. For REST APIs created after March 29, 2021, the new API definition takes precedence, but any container types such as endpoint configurations and binary media types are merged with the existing API. Use the default mode to define top-level ``RestApi`` properties in addition to using OpenAPI. Generally, it's preferred to use API Gateway's OpenAPI extensions to model these properties.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Category(global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"This property applies only when you use OpenAPI to define your REST API. The ``Mode`` determines how API Gateway handles resource updates. Valid values are ``overwrite`` or ``merge``. For ``overwrite``, the new API definition replaces the existing one. The existing API identifier remains unchanged. For ``merge``, the new API definition is merged with the existing API. If you don't specify this property, a default value is chosen. For REST APIs created before March 29, 2021, the default is ``overwrite``. For REST APIs created after March 29, 2021, the new API definition takes precedence, but any container types such as endpoint configurations and binary media types are merged with the existing API. Use the default mode to define top-level ``RestApi`` properties in addition to using OpenAPI. Generally, it's preferred to use API Gateway's OpenAPI extensions to model these properties.",
        SerializedName = @"mode",
        PossibleTypes = new [] { typeof(string) })]
        public string AwPropertyMode { get => _resourceBody.AwPropertyMode ?? null; set => _resourceBody.AwPropertyMode = value; }

        /// <summary>
        /// The name of the RestApi. A name is required if the REST API is not based on an OpenAPI specification.
        /// </summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The name of the RestApi. A name is required if the REST API is not based on an OpenAPI specification.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Category(global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The name of the RestApi. A name is required if the REST API is not based on an OpenAPI specification.",
        SerializedName = @"name",
        PossibleTypes = new [] { typeof(string) })]
        public string AwPropertyName { get => _resourceBody.AwPropertyName ?? null; set => _resourceBody.AwPropertyName = value; }

        /// <summary>
        /// Custom header parameters as part of the request. For example, to exclude DocumentationParts from an imported API, set
        /// ``ignore=documentation`` as a ``parameters`` value, as in the AWS CLI command of ``aws apigateway import-rest-api --parameters
        /// ignore=documentation --body 'file:///path/to/imported-api-body.json'``.
        /// </summary>
        [global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.ExportAs(typeof(global::System.Collections.Hashtable))]
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Custom header parameters as part of the request. For example, to exclude DocumentationParts from an imported API, set ``ignore=documentation`` as a ``parameters`` value, as in the AWS CLI command of ``aws apigateway import-rest-api --parameters ignore=documentation --body 'file:///path/to/imported-api-body.json'``.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Category(global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Custom header parameters as part of the request. For example, to exclude DocumentationParts from an imported API, set ``ignore=documentation`` as a ``parameters`` value, as in the AWS CLI command of ``aws apigateway import-rest-api --parameters ignore=documentation --body 'file:///path/to/imported-api-body.json'``.",
        SerializedName = @"parameters",
        PossibleTypes = new [] { typeof(Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Models.Api20241201.IAwsApiGatewayRestApiPropertiesParameters) })]
        public Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Models.Api20241201.IAwsApiGatewayRestApiPropertiesParameters AwPropertyParameter { get => _resourceBody.AwPropertyParameter ?? null /* object */; set => _resourceBody.AwPropertyParameter = value; }

        /// <summary>
        /// A policy document that contains the permissions for the ``RestApi`` resource. To set the ARN for the policy, use the ``!Join``
        /// intrinsic function with ``''`` as delimiter and values of ``'execute-api:/'`` and ``'*'``.
        /// </summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "A policy document that contains the permissions for the ``RestApi`` resource. To set the ARN for the policy, use the ``!Join`` intrinsic function with ``''`` as delimiter and values of ``'execute-api:/'`` and ``'*'``.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Category(global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"A policy document that contains the permissions for the ``RestApi`` resource. To set the ARN for the policy, use the ``!Join`` intrinsic function with ``''`` as delimiter and values of ``'execute-api:/'`` and ``'*'``.",
        SerializedName = @"policy",
        PossibleTypes = new [] { typeof(string) })]
        public string AwPropertyPolicy { get => _resourceBody.AwPropertyPolicy ?? null; set => _resourceBody.AwPropertyPolicy = value; }

        /// <summary>Property restApiId</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Property restApiId")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Category(global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Property restApiId",
        SerializedName = @"restApiId",
        PossibleTypes = new [] { typeof(string) })]
        public string AwPropertyRestApiId { get => _resourceBody.AwPropertyRestApiId ?? null; set => _resourceBody.AwPropertyRestApiId = value; }

        /// <summary>Property rootResourceId</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Property rootResourceId")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Category(global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Property rootResourceId",
        SerializedName = @"rootResourceId",
        PossibleTypes = new [] { typeof(string) })]
        public string AwPropertyRootResourceId { get => _resourceBody.AwPropertyRootResourceId ?? null; set => _resourceBody.AwPropertyRootResourceId = value; }

        /// <summary>
        /// The key-value map of strings. The valid character set is [a-zA-Z+-=._:/]. The tag key can be up to 128 characters and
        /// must not start with ``aws:``. The tag value can be up to 256 characters.
        /// </summary>
        [global::System.Management.Automation.AllowEmptyCollection]
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The key-value map of strings. The valid character set is [a-zA-Z+-=._:/]. The tag key can be up to 128 characters and must not start with ``aws:``. The tag value can be up to 256 characters.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Category(global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The key-value map of strings. The valid character set is [a-zA-Z+-=._:/]. The tag key can be up to 128 characters and must not start with ``aws:``. The tag value can be up to 256 characters.",
        SerializedName = @"tags",
        PossibleTypes = new [] { typeof(Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Models.Api20241201.ITagAutoGenerated) })]
        public Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Models.Api20241201.ITagAutoGenerated[] AwPropertyTag { get => _resourceBody.AwPropertyTag ?? null /* arrayOf */; set => _resourceBody.AwPropertyTag = value; }

        /// <summary>AWS Account ID</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "AWS Account ID")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Category(global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"AWS Account ID",
        SerializedName = @"awsAccountId",
        PossibleTypes = new [] { typeof(string) })]
        public string AwsAccountId { get => _resourceBody.AwsAccountId ?? null; set => _resourceBody.AwsAccountId = value; }

        /// <summary>AWS Region</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "AWS Region")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Category(global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"AWS Region",
        SerializedName = @"awsRegion",
        PossibleTypes = new [] { typeof(string) })]
        public string AwsRegion { get => _resourceBody.AwsRegion ?? null; set => _resourceBody.AwsRegion = value; }

        /// <summary>AWS Source Schema</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "AWS Source Schema")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Category(global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"AWS Source Schema",
        SerializedName = @"awsSourceSchema",
        PossibleTypes = new [] { typeof(string) })]
        public string AwsSourceSchema { get => _resourceBody.AwsSourceSchema ?? null; set => _resourceBody.AwsSourceSchema = value; }

        /// <summary>AWS Tags</summary>
        [global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.ExportAs(typeof(global::System.Collections.Hashtable))]
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "AWS Tags")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Category(global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"AWS Tags",
        SerializedName = @"awsTags",
        PossibleTypes = new [] { typeof(Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Models.Api20241201.IApiGatewayRestApiPropertiesAwsTags) })]
        public Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Models.Api20241201.IApiGatewayRestApiPropertiesAwsTags AwsTag { get => _resourceBody.AwsTag ?? null /* object */; set => _resourceBody.AwsTag = value; }

        /// <summary>The name of the S3 bucket where the OpenAPI file is stored.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The name of the S3 bucket where the OpenAPI file is stored.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Category(global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The name of the S3 bucket where the OpenAPI file is stored.",
        SerializedName = @"bucket",
        PossibleTypes = new [] { typeof(string) })]
        public string BodyS3LocationBucket { get => _resourceBody.BodyS3LocationBucket ?? null; set => _resourceBody.BodyS3LocationBucket = value; }

        /// <summary>
        /// The Amazon S3 ETag (a file checksum) of the OpenAPI file. If you don't specify a value, API Gateway skips ETag validation
        /// of your OpenAPI file.
        /// </summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The Amazon S3 ETag (a file checksum) of the OpenAPI file. If you don't specify a value, API Gateway skips ETag validation of your OpenAPI file.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Category(global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The Amazon S3 ETag (a file checksum) of the OpenAPI file. If you don't specify a value, API Gateway skips ETag validation of your OpenAPI file.",
        SerializedName = @"eTag",
        PossibleTypes = new [] { typeof(string) })]
        public string BodyS3LocationETag { get => _resourceBody.BodyS3LocationETag ?? null; set => _resourceBody.BodyS3LocationETag = value; }

        /// <summary>The file name of the OpenAPI file (Amazon S3 object name).</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The file name of the OpenAPI file (Amazon S3 object name).")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Category(global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The file name of the OpenAPI file (Amazon S3 object name).",
        SerializedName = @"key",
        PossibleTypes = new [] { typeof(string) })]
        public string BodyS3LocationKey { get => _resourceBody.BodyS3LocationKey ?? null; set => _resourceBody.BodyS3LocationKey = value; }

        /// <summary>For versioning-enabled buckets, a specific version of the OpenAPI file.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "For versioning-enabled buckets, a specific version of the OpenAPI file.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Category(global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"For versioning-enabled buckets, a specific version of the OpenAPI file.",
        SerializedName = @"version",
        PossibleTypes = new [] { typeof(string) })]
        public string BodyS3LocationVersion { get => _resourceBody.BodyS3LocationVersion ?? null; set => _resourceBody.BodyS3LocationVersion = value; }

        /// <summary>Wait for .NET debugger to attach</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, DontShow = true, HelpMessage = "Wait for .NET debugger to attach")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Category(global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.ParameterCategory.Runtime)]
        public global::System.Management.Automation.SwitchParameter Break { get; set; }

        /// <summary>The reference to the client API class.</summary>
        public Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.MicrosoftAwsConnector Client => Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Module.Instance.ClientAPI;

        /// <summary>
        /// The DefaultProfile parameter is not functional. Use the SubscriptionId parameter when available if executing the cmdlet
        /// against a different subscription
        /// </summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The DefaultProfile parameter is not functional. Use the SubscriptionId parameter when available if executing the cmdlet against a different subscription.")]
        [global::System.Management.Automation.ValidateNotNull]
        [global::System.Management.Automation.Alias("AzureRMContext", "AzureCredential")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Category(global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.ParameterCategory.Azure)]
        public global::System.Management.Automation.PSObject DefaultProfile { get; set; }

        /// <summary>
        /// A list of endpoint types of an API (RestApi) or its custom domain name (DomainName). For an edge-optimized API and its
        /// custom domain name, the endpoint type is ``'EDGE'``. For a regional API and its custom domain name, the endpoint type
        /// is ``REGIONAL``. For a private API, the endpoint type is ``PRIVATE``.
        /// </summary>
        [global::System.Management.Automation.AllowEmptyCollection]
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "A list of endpoint types of an API (RestApi) or its custom domain name (DomainName). For an edge-optimized API and its custom domain name, the endpoint type is ``'EDGE'``. For a regional API and its custom domain name, the endpoint type is ``REGIONAL``. For a private API, the endpoint type is ``PRIVATE``.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Category(global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"A list of endpoint types of an API (RestApi) or its custom domain name (DomainName). For an edge-optimized API and its custom domain name, the endpoint type is ``'EDGE'``. For a regional API and its custom domain name, the endpoint type is ``REGIONAL``. For a private API, the endpoint type is ``PRIVATE``.",
        SerializedName = @"types",
        PossibleTypes = new [] { typeof(string) })]
        public string[] EndpointConfigurationType { get => _resourceBody.EndpointConfigurationType ?? null /* arrayOf */; set => _resourceBody.EndpointConfigurationType = value; }

        /// <summary>
        /// A list of VpcEndpointIds of an API (RestApi) against which to create Route53 ALIASes. It is only supported for ``PRIVATE``
        /// endpoint type.
        /// </summary>
        [global::System.Management.Automation.AllowEmptyCollection]
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "A list of VpcEndpointIds of an API (RestApi) against which to create Route53 ALIASes. It is only supported for ``PRIVATE`` endpoint type.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Category(global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"A list of VpcEndpointIds of an API (RestApi) against which to create Route53 ALIASes. It is only supported for ``PRIVATE`` endpoint type.",
        SerializedName = @"vpcEndpointIds",
        PossibleTypes = new [] { typeof(string) })]
        public string[] EndpointConfigurationVpcEndpointId { get => _resourceBody.EndpointConfigurationVpcEndpointId ?? null /* arrayOf */; set => _resourceBody.EndpointConfigurationVpcEndpointId = value; }

        /// <summary>SendAsync Pipeline Steps to be appended to the front of the pipeline</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, DontShow = true, HelpMessage = "SendAsync Pipeline Steps to be appended to the front of the pipeline")]
        [global::System.Management.Automation.ValidateNotNull]
        [global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Category(global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.ParameterCategory.Runtime)]
        public Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.SendAsyncStep[] HttpPipelineAppend { get; set; }

        /// <summary>SendAsync Pipeline Steps to be prepended to the front of the pipeline</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, DontShow = true, HelpMessage = "SendAsync Pipeline Steps to be prepended to the front of the pipeline")]
        [global::System.Management.Automation.ValidateNotNull]
        [global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Category(global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.ParameterCategory.Runtime)]
        public Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.SendAsyncStep[] HttpPipelinePrepend { get; set; }

        /// <summary>Accessor for our copy of the InvocationInfo.</summary>
        public global::System.Management.Automation.InvocationInfo InvocationInformation { get => __invocationInfo = __invocationInfo ?? this.MyInvocation ; set { __invocationInfo = value; } }

        /// <summary>The geo-location where the resource lives</summary>
        [global::System.Management.Automation.Parameter(Mandatory = true, HelpMessage = "The geo-location where the resource lives")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Category(global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.Info(
        Required = true,
        ReadOnly = false,
        Description = @"The geo-location where the resource lives",
        SerializedName = @"location",
        PossibleTypes = new [] { typeof(string) })]
        public string Location { get => _resourceBody.Location ?? null; set => _resourceBody.Location = value; }

        /// <summary>
        /// <see cref="Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.IEventListener" /> cancellation delegate. Stops the cmdlet when called.
        /// </summary>
        global::System.Action Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.IEventListener.Cancel => _cancellationTokenSource.Cancel;

        /// <summary><see cref="Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.IEventListener" /> cancellation token.</summary>
        global::System.Threading.CancellationToken Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.IEventListener.Token => _cancellationTokenSource.Token;

        /// <summary>Backing field for <see cref="Name" /> property.</summary>
        private string _name;

        /// <summary>Name of ApiGatewayRestApi</summary>
        [global::System.Management.Automation.Parameter(Mandatory = true, HelpMessage = "Name of ApiGatewayRestApi")]
        [Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.Info(
        Required = true,
        ReadOnly = false,
        Description = @"Name of ApiGatewayRestApi",
        SerializedName = @"name",
        PossibleTypes = new [] { typeof(string) })]
        [global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Category(global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.ParameterCategory.Path)]
        public string Name { get => this._name; set => this._name = value; }

        /// <summary>
        /// when specified, will make the remote call, and return an AsyncOperationResponse, letting the remote operation continue
        /// asynchronously.
        /// </summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Run the command asynchronously")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Category(global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.ParameterCategory.Runtime)]
        public global::System.Management.Automation.SwitchParameter NoWait { get; set; }

        /// <summary>
        /// The instance of the <see cref="Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.HttpPipeline" /> that the remote call will use.
        /// </summary>
        private Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.HttpPipeline Pipeline { get; set; }

        /// <summary>The URI for the proxy server to use</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, DontShow = true, HelpMessage = "The URI for the proxy server to use")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Category(global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.ParameterCategory.Runtime)]
        public global::System.Uri Proxy { get; set; }

        /// <summary>Credentials for a proxy server to use for the remote call</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, DontShow = true, HelpMessage = "Credentials for a proxy server to use for the remote call")]
        [global::System.Management.Automation.ValidateNotNull]
        [global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Category(global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.ParameterCategory.Runtime)]
        public global::System.Management.Automation.PSCredential ProxyCredential { get; set; }

        /// <summary>Use the default credentials for the proxy</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, DontShow = true, HelpMessage = "Use the default credentials for the proxy")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Category(global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.ParameterCategory.Runtime)]
        public global::System.Management.Automation.SwitchParameter ProxyUseDefaultCredentials { get; set; }

        /// <summary>Public Cloud Connectors Resource ID</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Public Cloud Connectors Resource ID")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Category(global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Public Cloud Connectors Resource ID",
        SerializedName = @"publicCloudConnectorsResourceId",
        PossibleTypes = new [] { typeof(string) })]
        public string PublicCloudConnectorsResourceId { get => _resourceBody.PublicCloudConnectorsResourceId ?? null; set => _resourceBody.PublicCloudConnectorsResourceId = value; }

        /// <summary>Public Cloud Resource Name</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Public Cloud Resource Name")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Category(global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Public Cloud Resource Name",
        SerializedName = @"publicCloudResourceName",
        PossibleTypes = new [] { typeof(string) })]
        public string PublicCloudResourceName { get => _resourceBody.PublicCloudResourceName ?? null; set => _resourceBody.PublicCloudResourceName = value; }

        /// <summary>Backing field for <see cref="ResourceGroupName" /> property.</summary>
        private string _resourceGroupName;

        /// <summary>The name of the resource group. The name is case insensitive.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = true, HelpMessage = "The name of the resource group. The name is case insensitive.")]
        [Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.Info(
        Required = true,
        ReadOnly = false,
        Description = @"The name of the resource group. The name is case insensitive.",
        SerializedName = @"resourceGroupName",
        PossibleTypes = new [] { typeof(string) })]
        [global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Category(global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.ParameterCategory.Path)]
        public string ResourceGroupName { get => this._resourceGroupName; set => this._resourceGroupName = value; }

        /// <summary>Backing field for <see cref="SubscriptionId" /> property.</summary>
        private string _subscriptionId;

        /// <summary>The ID of the target subscription. The value must be an UUID.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = true, HelpMessage = "The ID of the target subscription. The value must be an UUID.")]
        [Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.Info(
        Required = true,
        ReadOnly = false,
        Description = @"The ID of the target subscription. The value must be an UUID.",
        SerializedName = @"subscriptionId",
        PossibleTypes = new [] { typeof(string) })]
        [Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.DefaultInfo(
        Name = @"",
        Description =@"",
        Script = @"(Get-AzContext).Subscription.Id")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Category(global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.ParameterCategory.Path)]
        public string SubscriptionId { get => this._subscriptionId; set => this._subscriptionId = value; }

        /// <summary>Resource tags.</summary>
        [global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.ExportAs(typeof(global::System.Collections.Hashtable))]
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Resource tags.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Category(global::Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Resource tags.",
        SerializedName = @"tags",
        PossibleTypes = new [] { typeof(Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Models.Api50.ITrackedResourceTags) })]
        public Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Models.Api50.ITrackedResourceTags Tag { get => _resourceBody.Tag ?? null /* object */; set => _resourceBody.Tag = value; }

        /// <summary>
        /// <c>overrideOnDefault</c> will be called before the regular onDefault has been processed, allowing customization of what
        /// happens on that response. Implement this method in a partial class to enable this behavior
        /// </summary>
        /// <param name="responseMessage">the raw response message as an global::System.Net.Http.HttpResponseMessage.</param>
        /// <param name="response">the body result as a <see cref="Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Models.Api50.IErrorResponse">Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Models.Api50.IErrorResponse</see>
        /// from the remote call</param>
        /// <param name="returnNow">/// Determines if the rest of the onDefault method should be processed, or if the method should
        /// return immediately (set to true to skip further processing )</param>

        partial void overrideOnDefault(global::System.Net.Http.HttpResponseMessage responseMessage, global::System.Threading.Tasks.Task<Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Models.Api50.IErrorResponse> response, ref global::System.Threading.Tasks.Task<bool> returnNow);

        /// <summary>
        /// <c>overrideOnOk</c> will be called before the regular onOk has been processed, allowing customization of what happens
        /// on that response. Implement this method in a partial class to enable this behavior
        /// </summary>
        /// <param name="responseMessage">the raw response message as an global::System.Net.Http.HttpResponseMessage.</param>
        /// <param name="response">the body result as a <see cref="Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Models.Api20241201.IApiGatewayRestApi">Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Models.Api20241201.IApiGatewayRestApi</see>
        /// from the remote call</param>
        /// <param name="returnNow">/// Determines if the rest of the onOk method should be processed, or if the method should return
        /// immediately (set to true to skip further processing )</param>

        partial void overrideOnOk(global::System.Net.Http.HttpResponseMessage responseMessage, global::System.Threading.Tasks.Task<Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Models.Api20241201.IApiGatewayRestApi> response, ref global::System.Threading.Tasks.Task<bool> returnNow);

        /// <summary>
        /// (overrides the default BeginProcessing method in global::System.Management.Automation.PSCmdlet)
        /// </summary>
        protected override void BeginProcessing()
        {
            var telemetryId = Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Module.Instance.GetTelemetryId.Invoke();
            if (telemetryId != "" && telemetryId != "internal")
            {
                __correlationId = telemetryId;
            }
            Module.Instance.SetProxyConfiguration(Proxy, ProxyCredential, ProxyUseDefaultCredentials);
            if (Break)
            {
                Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.AttachDebugger.Break();
            }
            ((Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.Events.CmdletBeginProcessing).Wait(); if( ((Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.IEventListener)this).Token.IsCancellationRequested ) { return; }
        }

        /// <summary>Creates a duplicate instance of this cmdlet (via JSON serialization).</summary>
        /// <returns>a duplicate instance of NewAzAwsConnectorApiGatewayRestApi_CreateExpanded</returns>
        public Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Cmdlets.NewAzAwsConnectorApiGatewayRestApi_CreateExpanded Clone()
        {
            var clone = new NewAzAwsConnectorApiGatewayRestApi_CreateExpanded();
            clone.__correlationId = this.__correlationId;
            clone.__processRecordId = this.__processRecordId;
            clone.DefaultProfile = this.DefaultProfile;
            clone.InvocationInformation = this.InvocationInformation;
            clone.Proxy = this.Proxy;
            clone.Pipeline = this.Pipeline;
            clone.AsJob = this.AsJob;
            clone.Break = this.Break;
            clone.ProxyCredential = this.ProxyCredential;
            clone.ProxyUseDefaultCredentials = this.ProxyUseDefaultCredentials;
            clone.HttpPipelinePrepend = this.HttpPipelinePrepend;
            clone.HttpPipelineAppend = this.HttpPipelineAppend;
            clone._resourceBody = this._resourceBody;
            clone.SubscriptionId = this.SubscriptionId;
            clone.ResourceGroupName = this.ResourceGroupName;
            clone.Name = this.Name;
            return clone;
        }

        /// <summary>Performs clean-up after the command execution</summary>
        protected override void EndProcessing()
        {
            var telemetryInfo = Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Module.Instance.GetTelemetryInfo?.Invoke(__correlationId);
            if (telemetryInfo != null)
            {
                telemetryInfo.TryGetValue("ShowSecretsWarning", out var showSecretsWarning);
                telemetryInfo.TryGetValue("SanitizedProperties", out var sanitizedProperties);
                telemetryInfo.TryGetValue("InvocationName", out var invocationName);
                if (showSecretsWarning == "true")
                {
                    if (string.IsNullOrEmpty(sanitizedProperties))
                    {
                        WriteWarning($"The output of cmdlet {invocationName} may compromise security by showing secrets. Learn more at https://go.microsoft.com/fwlink/?linkid=2258844");
                    }
                    else
                    {
                        WriteWarning($"The output of cmdlet {invocationName} may compromise security by showing the following secrets: {sanitizedProperties}. Learn more at https://go.microsoft.com/fwlink/?linkid=2258844");
                    }
                }
            }
        }

        /// <summary>Handles/Dispatches events during the call to the REST service.</summary>
        /// <param name="id">The message id</param>
        /// <param name="token">The message cancellation token. When this call is cancelled, this should be <c>true</c></param>
        /// <param name="messageData">Detailed message data for the message event.</param>
        /// <returns>
        /// A <see cref="global::System.Threading.Tasks.Task" /> that will be complete when handling of the message is completed.
        /// </returns>
         async global::System.Threading.Tasks.Task Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.IEventListener.Signal(string id, global::System.Threading.CancellationToken token, global::System.Func<Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.EventData> messageData)
        {
            using( NoSynchronizationContext )
            {
                if (token.IsCancellationRequested)
                {
                    return ;
                }

                switch ( id )
                {
                    case Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.Events.Verbose:
                    {
                        WriteVerbose($"{(messageData().Message ?? global::System.String.Empty)}");
                        return ;
                    }
                    case Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.Events.Warning:
                    {
                        WriteWarning($"{(messageData().Message ?? global::System.String.Empty)}");
                        return ;
                    }
                    case Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.Events.Information:
                    {
                        // When an operation supports asjob, Information messages must go thru verbose.
                        WriteVerbose($"INFORMATION: {(messageData().Message ?? global::System.String.Empty)}");
                        return ;
                    }
                    case Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.Events.Debug:
                    {
                        WriteDebug($"{(messageData().Message ?? global::System.String.Empty)}");
                        return ;
                    }
                    case Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.Events.Error:
                    {
                        WriteError(new global::System.Management.Automation.ErrorRecord( new global::System.Exception(messageData().Message), string.Empty, global::System.Management.Automation.ErrorCategory.NotSpecified, null ) );
                        return ;
                    }
                    case Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.Events.DelayBeforePolling:
                    {
                        if (true == MyInvocation?.BoundParameters?.ContainsKey("NoWait"))
                        {
                            var data = messageData();
                            if (data.ResponseMessage is System.Net.Http.HttpResponseMessage response)
                            {
                                var asyncOperation = response.GetFirstHeader(@"Azure-AsyncOperation");
                                var location = response.GetFirstHeader(@"Location");
                                var uri = global::System.String.IsNullOrEmpty(asyncOperation) ? global::System.String.IsNullOrEmpty(location) ? response.RequestMessage.RequestUri.AbsoluteUri : location : asyncOperation;
                                WriteObject(new Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.PowerShell.AsyncOperationResponse { Target = uri });
                                // do nothing more.
                                data.Cancel();
                                return;
                            }
                        }
                        break;
                    }
                }
                await Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Module.Instance.Signal(id, token, messageData, (i,t,m) => ((Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.IEventListener)this).Signal(i,t,()=> Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.EventDataConverter.ConvertFrom( m() ) as Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.EventData ), InvocationInformation, this.ParameterSetName, __correlationId, __processRecordId, null );
                if (token.IsCancellationRequested)
                {
                    return ;
                }
                WriteDebug($"{id}: {(messageData().Message ?? global::System.String.Empty)}");
            }
        }

        /// <summary>
        /// Intializes a new instance of the <see cref="NewAzAwsConnectorApiGatewayRestApi_CreateExpanded" /> cmdlet class.
        /// </summary>
        public NewAzAwsConnectorApiGatewayRestApi_CreateExpanded()
        {

        }

        /// <summary>Performs execution of the command.</summary>
        protected override void ProcessRecord()
        {
            ((Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.Events.CmdletProcessRecordStart).Wait(); if( ((Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.IEventListener)this).Token.IsCancellationRequested ) { return; }
            __processRecordId = System.Guid.NewGuid().ToString();
            try
            {
                // work
                if (ShouldProcess($"Call remote 'ApiGatewayRestApisCreateOrReplace' operation"))
                {
                    if (true == MyInvocation?.BoundParameters?.ContainsKey("AsJob"))
                    {
                        var instance = this.Clone();
                        var job = new Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.PowerShell.AsyncJob(instance, this.MyInvocation.Line, this.MyInvocation.MyCommand.Name, this._cancellationTokenSource.Token, this._cancellationTokenSource.Cancel);
                        JobRepository.Add(job);
                        var task = instance.ProcessRecordAsync();
                        job.Monitor(task);
                        WriteObject(job);
                    }
                    else
                    {
                        using( var asyncCommandRuntime = new Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.PowerShell.AsyncCommandRuntime(this, ((Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.IEventListener)this).Token) )
                        {
                            asyncCommandRuntime.Wait( ProcessRecordAsync(),((Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.IEventListener)this).Token);
                        }
                    }
                }
            }
            catch (global::System.AggregateException aggregateException)
            {
                // unroll the inner exceptions to get the root cause
                foreach( var innerException in aggregateException.Flatten().InnerExceptions )
                {
                    ((Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.Events.CmdletException, $"{innerException.GetType().Name} - {innerException.Message} : {innerException.StackTrace}").Wait(); if( ((Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.IEventListener)this).Token.IsCancellationRequested ) { return; }
                    // Write exception out to error channel.
                    WriteError( new global::System.Management.Automation.ErrorRecord(innerException,string.Empty, global::System.Management.Automation.ErrorCategory.NotSpecified, null) );
                }
            }
            catch (global::System.Exception exception) when ((exception as System.Management.Automation.PipelineStoppedException)== null || (exception as System.Management.Automation.PipelineStoppedException).InnerException != null)
            {
                ((Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.Events.CmdletException, $"{exception.GetType().Name} - {exception.Message} : {exception.StackTrace}").Wait(); if( ((Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.IEventListener)this).Token.IsCancellationRequested ) { return; }
                // Write exception out to error channel.
                WriteError( new global::System.Management.Automation.ErrorRecord(exception,string.Empty, global::System.Management.Automation.ErrorCategory.NotSpecified, null) );
            }
            finally
            {
                ((Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.Events.CmdletProcessRecordEnd).Wait();
            }
        }

        /// <summary>Performs execution of the command, working asynchronously if required.</summary>
        /// <returns>
        /// A <see cref="global::System.Threading.Tasks.Task" /> that will be complete when handling of the method is completed.
        /// </returns>
        protected async global::System.Threading.Tasks.Task ProcessRecordAsync()
        {
            using( NoSynchronizationContext )
            {
                await ((Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.Events.CmdletGetPipeline); if( ((Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.IEventListener)this).Token.IsCancellationRequested ) { return; }
                Pipeline = Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Module.Instance.CreatePipeline(InvocationInformation, __correlationId, __processRecordId, this.ParameterSetName);
                if (null != HttpPipelinePrepend)
                {
                    Pipeline.Prepend((this.CommandRuntime as Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.PowerShell.IAsyncCommandRuntimeExtensions)?.Wrap(HttpPipelinePrepend) ?? HttpPipelinePrepend);
                }
                if (null != HttpPipelineAppend)
                {
                    Pipeline.Append((this.CommandRuntime as Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.PowerShell.IAsyncCommandRuntimeExtensions)?.Wrap(HttpPipelineAppend) ?? HttpPipelineAppend);
                }
                // get the client instance
                try
                {
                    await ((Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.Events.CmdletBeforeAPICall); if( ((Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.IEventListener)this).Token.IsCancellationRequested ) { return; }
                    await this.Client.ApiGatewayRestApisCreateOrReplace(SubscriptionId, ResourceGroupName, Name, _resourceBody, onOk, onDefault, this, Pipeline);
                    await ((Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.Events.CmdletAfterAPICall); if( ((Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.IEventListener)this).Token.IsCancellationRequested ) { return; }
                }
                catch (Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.UndeclaredResponseException urexception)
                {
                    WriteError(new global::System.Management.Automation.ErrorRecord(urexception, urexception.StatusCode.ToString(), global::System.Management.Automation.ErrorCategory.InvalidOperation, new {  SubscriptionId=SubscriptionId,ResourceGroupName=ResourceGroupName,Name=Name,body=_resourceBody})
                    {
                      ErrorDetails = new global::System.Management.Automation.ErrorDetails(urexception.Message) { RecommendedAction = urexception.Action }
                    });
                }
                finally
                {
                    await ((Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.Events.CmdletProcessRecordAsyncEnd);
                }
            }
        }

        /// <summary>Interrupts currently running code within the command.</summary>
        protected override void StopProcessing()
        {
            ((Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.IEventListener)this).Cancel();
            base.StopProcessing();
        }

        /// <param name="sendToPipeline"></param>
        new protected void WriteObject(object sendToPipeline)
        {
            Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Module.Instance.SanitizeOutput?.Invoke(sendToPipeline, __correlationId);
            base.WriteObject(sendToPipeline);
        }

        /// <param name="sendToPipeline"></param>
        /// <param name="enumerateCollection"></param>
        new protected void WriteObject(object sendToPipeline, bool enumerateCollection)
        {
            Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Module.Instance.SanitizeOutput?.Invoke(sendToPipeline, __correlationId);
            base.WriteObject(sendToPipeline, enumerateCollection);
        }

        /// <summary>
        /// a delegate that is called when the remote service returns default (any response code not handled elsewhere).
        /// </summary>
        /// <param name="responseMessage">the raw response message as an global::System.Net.Http.HttpResponseMessage.</param>
        /// <param name="response">the body result as a <see cref="Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Models.Api50.IErrorResponse">Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Models.Api50.IErrorResponse</see>
        /// from the remote call</param>
        /// <returns>
        /// A <see cref="global::System.Threading.Tasks.Task" /> that will be complete when handling of the method is completed.
        /// </returns>
        private async global::System.Threading.Tasks.Task onDefault(global::System.Net.Http.HttpResponseMessage responseMessage, global::System.Threading.Tasks.Task<Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Models.Api50.IErrorResponse> response)
        {
            using( NoSynchronizationContext )
            {
                var _returnNow = global::System.Threading.Tasks.Task<bool>.FromResult(false);
                overrideOnDefault(responseMessage, response, ref _returnNow);
                // if overrideOnDefault has returned true, then return right away.
                if ((null != _returnNow && await _returnNow))
                {
                    return ;
                }
                // Error Response : default
                var code = (await response)?.Code;
                var message = (await response)?.Message;
                if ((null == code || null == message))
                {
                    // Unrecognized Response. Create an error record based on what we have.
                    var ex = new Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Runtime.RestException<Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Models.Api50.IErrorResponse>(responseMessage, await response);
                    WriteError( new global::System.Management.Automation.ErrorRecord(ex, ex.Code, global::System.Management.Automation.ErrorCategory.InvalidOperation, new { SubscriptionId=SubscriptionId, ResourceGroupName=ResourceGroupName, Name=Name, body=_resourceBody })
                    {
                      ErrorDetails = new global::System.Management.Automation.ErrorDetails(ex.Message) { RecommendedAction = ex.Action }
                    });
                }
                else
                {
                    WriteError( new global::System.Management.Automation.ErrorRecord(new global::System.Exception($"[{code}] : {message}"), code?.ToString(), global::System.Management.Automation.ErrorCategory.InvalidOperation, new { SubscriptionId=SubscriptionId, ResourceGroupName=ResourceGroupName, Name=Name, body=_resourceBody })
                    {
                      ErrorDetails = new global::System.Management.Automation.ErrorDetails(message) { RecommendedAction = global::System.String.Empty }
                    });
                }
            }
        }

        /// <summary>a delegate that is called when the remote service returns 200 (OK).</summary>
        /// <param name="responseMessage">the raw response message as an global::System.Net.Http.HttpResponseMessage.</param>
        /// <param name="response">the body result as a <see cref="Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Models.Api20241201.IApiGatewayRestApi">Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Models.Api20241201.IApiGatewayRestApi</see>
        /// from the remote call</param>
        /// <returns>
        /// A <see cref="global::System.Threading.Tasks.Task" /> that will be complete when handling of the method is completed.
        /// </returns>
        private async global::System.Threading.Tasks.Task onOk(global::System.Net.Http.HttpResponseMessage responseMessage, global::System.Threading.Tasks.Task<Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Models.Api20241201.IApiGatewayRestApi> response)
        {
            using( NoSynchronizationContext )
            {
                var _returnNow = global::System.Threading.Tasks.Task<bool>.FromResult(false);
                overrideOnOk(responseMessage, response, ref _returnNow);
                // if overrideOnOk has returned true, then return right away.
                if ((null != _returnNow && await _returnNow))
                {
                    return ;
                }
                // onOk - response for 200 / application/json
                // (await response) // should be Microsoft.Azure.PowerShell.Cmdlets.AwsConnector.Models.Api20241201.IApiGatewayRestApi
                WriteObject((await response));
            }
        }
    }
}