// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

namespace Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Cmdlets
{
    using static Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.Extensions;
    using System;

    /// <summary>Generate Sessions from a Session Pool.</summary>
    /// <remarks>
    /// [OpenAPI] GenerateSessions=>POST:"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/sessionPools/{sessionPoolName}/generateSessions"
    /// </remarks>
    [global::System.Management.Automation.Cmdlet(global::System.Management.Automation.VerbsCommon.New, @"AzContainerAppsApiContainerAppSessionPoolSession_GenerateExpanded", SupportsShouldProcess = true)]
    [global::System.Management.Automation.OutputType(typeof(Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Models.Api20231102Preview.ISession))]
    [global::Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Description(@"Generate Sessions from a Session Pool.")]
    [global::Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Generated]
    [global::Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.HttpPath(Path = "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/sessionPools/{sessionPoolName}/generateSessions", ApiVersion = "2023-11-02-preview")]
    public partial class NewAzContainerAppsApiContainerAppSessionPoolSession_GenerateExpanded : global::System.Management.Automation.PSCmdlet,
        Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.IEventListener
    {
        /// <summary>A unique id generatd for the this cmdlet when it is instantiated.</summary>
        private string __correlationId = System.Guid.NewGuid().ToString();

        /// <summary>A copy of the Invocation Info (necessary to allow asJob to clone this cmdlet)</summary>
        private global::System.Management.Automation.InvocationInfo __invocationInfo;

        /// <summary>A unique id generatd for the this cmdlet when ProcessRecord() is called.</summary>
        private string __processRecordId;

        /// <summary>
        /// The <see cref="global::System.Threading.CancellationTokenSource" /> for this operation.
        /// </summary>
        private global::System.Threading.CancellationTokenSource _cancellationTokenSource = new global::System.Threading.CancellationTokenSource();

        /// <summary>A flag to tell whether it is the first onOK call.</summary>
        private bool _isFirst = true;

        /// <summary>Link to retrieve next page.</summary>
        private string _nextLink;

        /// <summary>Session resource.</summary>
        private Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Models.Api20231102Preview.ISession _sessionEnvelopeBody = new Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Models.Api20231102Preview.Session();

        /// <summary>Wait for .NET debugger to attach</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, DontShow = true, HelpMessage = "Wait for .NET debugger to attach")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.ParameterCategory.Runtime)]
        public global::System.Management.Automation.SwitchParameter Break { get; set; }

        /// <summary>The reference to the client API class.</summary>
        public Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.ContainerAppsApiClient Client => Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Module.Instance.ClientAPI;

        /// <summary>The environment used for code execution.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The environment used for code execution.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The environment used for code execution.",
        SerializedName = @"environment",
        PossibleTypes = new [] { typeof(string) })]
        public string CodeExecutionConfigurationEnvironment { get => _sessionEnvelopeBody.CodeExecutionConfigurationEnvironment ?? null; set => _sessionEnvelopeBody.CodeExecutionConfigurationEnvironment = value; }

        /// <summary>The token used for code execution.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The token used for code execution.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The token used for code execution.",
        SerializedName = @"token",
        PossibleTypes = new [] { typeof(string) })]
        public string CodeExecutionConfigurationToken { get => _sessionEnvelopeBody.CodeExecutionConfigurationToken ?? null; set => _sessionEnvelopeBody.CodeExecutionConfigurationToken = value; }

        /// <summary>The connection string of the Session.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The connection string of the Session.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The connection string of the Session.",
        SerializedName = @"connectionString",
        PossibleTypes = new [] { typeof(string) })]
        public string ConnectionString { get => _sessionEnvelopeBody.ConnectionString ?? null; set => _sessionEnvelopeBody.ConnectionString = value; }

        /// <summary>Backing field for <see cref="Count" /> property.</summary>
        private int _count;

        /// <summary>How many Sessions to generate.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "How many Sessions to generate.")]
        [Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"How many Sessions to generate.",
        SerializedName = @"count",
        PossibleTypes = new [] { typeof(int) })]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.ParameterCategory.Query)]
        public int Count { get => this._count; set => this._count = value; }

        /// <summary>
        /// The DefaultProfile parameter is not functional. Use the SubscriptionId parameter when available if executing the cmdlet
        /// against a different subscription
        /// </summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The DefaultProfile parameter is not functional. Use the SubscriptionId parameter when available if executing the cmdlet against a different subscription.")]
        [global::System.Management.Automation.ValidateNotNull]
        [global::System.Management.Automation.Alias("AzureRMContext", "AzureCredential")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.ParameterCategory.Azure)]
        public global::System.Management.Automation.PSObject DefaultProfile { get; set; }

        /// <summary>The endpoint of the Session.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The endpoint of the Session.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The endpoint of the Session.",
        SerializedName = @"endpoint",
        PossibleTypes = new [] { typeof(string) })]
        public string Endpoint { get => _sessionEnvelopeBody.Endpoint ?? null; set => _sessionEnvelopeBody.Endpoint = value; }

        /// <summary>The time when the Session will expire.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The time when the Session will expire.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The time when the Session will expire.",
        SerializedName = @"expiryTime",
        PossibleTypes = new [] { typeof(global::System.DateTime) })]
        public global::System.DateTime ExpiryTime { get => _sessionEnvelopeBody.ExpiryTime ?? default(global::System.DateTime); set => _sessionEnvelopeBody.ExpiryTime = value; }

        /// <summary>The time when the Session was generated.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The time when the Session was generated.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The time when the Session was generated.",
        SerializedName = @"generatedTime",
        PossibleTypes = new [] { typeof(global::System.DateTime) })]
        public global::System.DateTime GeneratedTime { get => _sessionEnvelopeBody.GeneratedTime ?? default(global::System.DateTime); set => _sessionEnvelopeBody.GeneratedTime = value; }

        /// <summary>SendAsync Pipeline Steps to be appended to the front of the pipeline</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, DontShow = true, HelpMessage = "SendAsync Pipeline Steps to be appended to the front of the pipeline")]
        [global::System.Management.Automation.ValidateNotNull]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.ParameterCategory.Runtime)]
        public Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.SendAsyncStep[] HttpPipelineAppend { get; set; }

        /// <summary>SendAsync Pipeline Steps to be prepended to the front of the pipeline</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, DontShow = true, HelpMessage = "SendAsync Pipeline Steps to be prepended to the front of the pipeline")]
        [global::System.Management.Automation.ValidateNotNull]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.ParameterCategory.Runtime)]
        public Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.SendAsyncStep[] HttpPipelinePrepend { get; set; }

        /// <summary>Accessor for our copy of the InvocationInfo.</summary>
        public global::System.Management.Automation.InvocationInfo InvocationInformation { get => __invocationInfo = __invocationInfo ?? this.MyInvocation ; set { __invocationInfo = value; } }

        /// <summary>
        /// <see cref="Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.IEventListener" /> cancellation delegate. Stops the cmdlet when called.
        /// </summary>
        global::System.Action Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.IEventListener.Cancel => _cancellationTokenSource.Cancel;

        /// <summary><see cref="Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.IEventListener" /> cancellation token.</summary>
        global::System.Threading.CancellationToken Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.IEventListener.Token => _cancellationTokenSource.Token;

        /// <summary>
        /// The instance of the <see cref="Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.HttpPipeline" /> that the remote call will use.
        /// </summary>
        private Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.HttpPipeline Pipeline { get; set; }

        /// <summary>The name of the Session.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The name of the Session.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The name of the Session.",
        SerializedName = @"name",
        PossibleTypes = new [] { typeof(string) })]
        public string PropertiesName { get => _sessionEnvelopeBody.PropertiesName ?? null; set => _sessionEnvelopeBody.PropertiesName = value; }

        /// <summary>The URI for the proxy server to use</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, DontShow = true, HelpMessage = "The URI for the proxy server to use")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.ParameterCategory.Runtime)]
        public global::System.Uri Proxy { get; set; }

        /// <summary>Credentials for a proxy server to use for the remote call</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, DontShow = true, HelpMessage = "Credentials for a proxy server to use for the remote call")]
        [global::System.Management.Automation.ValidateNotNull]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.ParameterCategory.Runtime)]
        public global::System.Management.Automation.PSCredential ProxyCredential { get; set; }

        /// <summary>Use the default credentials for the proxy</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, DontShow = true, HelpMessage = "Use the default credentials for the proxy")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.ParameterCategory.Runtime)]
        public global::System.Management.Automation.SwitchParameter ProxyUseDefaultCredentials { get; set; }

        /// <summary>The requested duration of the Session in seconds.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The requested duration of the Session in seconds.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The requested duration of the Session in seconds.",
        SerializedName = @"requestedDurationInSeconds",
        PossibleTypes = new [] { typeof(int) })]
        public int RequestedDurationInSecond { get => _sessionEnvelopeBody.RequestedDurationInSecond ?? default(int); set => _sessionEnvelopeBody.RequestedDurationInSecond = value; }

        /// <summary>Backing field for <see cref="ResourceGroupName" /> property.</summary>
        private string _resourceGroupName;

        /// <summary>The name of the resource group. The name is case insensitive.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = true, HelpMessage = "The name of the resource group. The name is case insensitive.")]
        [Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.Info(
        Required = true,
        ReadOnly = false,
        Description = @"The name of the resource group. The name is case insensitive.",
        SerializedName = @"resourceGroupName",
        PossibleTypes = new [] { typeof(string) })]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.ParameterCategory.Path)]
        public string ResourceGroupName { get => this._resourceGroupName; set => this._resourceGroupName = value; }

        /// <summary>Is auth enabled for the session</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Is auth enabled for the session")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Is auth enabled for the session",
        SerializedName = @"authEnabled",
        PossibleTypes = new [] { typeof(global::System.Management.Automation.SwitchParameter) })]
        public global::System.Management.Automation.SwitchParameter SessionAuthConfigurationAuthEnabled { get => _sessionEnvelopeBody.AuthConfigurationAuthEnabled ?? default(global::System.Management.Automation.SwitchParameter); set => _sessionEnvelopeBody.AuthConfigurationAuthEnabled = value; }

        /// <summary>JWT token for the session</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "JWT token for the session")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"JWT token for the session",
        SerializedName = @"jwtToken",
        PossibleTypes = new [] { typeof(string) })]
        public string SessionAuthConfigurationJwtToken { get => _sessionEnvelopeBody.AuthConfigurationJwtToken ?? null; set => _sessionEnvelopeBody.AuthConfigurationJwtToken = value; }

        /// <summary>The kind of the Session.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The kind of the Session.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The kind of the Session.",
        SerializedName = @"sessionKind",
        PossibleTypes = new [] { typeof(Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Support.ContainerType) })]
        [global::System.Management.Automation.ArgumentCompleter(typeof(Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Support.ContainerType))]
        public Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Support.ContainerType SessionKind { get => _sessionEnvelopeBody.Kind ?? ((Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Support.ContainerType)""); set => _sessionEnvelopeBody.Kind = value; }

        /// <summary>Backing field for <see cref="SessionPoolName" /> property.</summary>
        private string _sessionPoolName;

        /// <summary>Name of the Session Pool.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = true, HelpMessage = "Name of the Session Pool.")]
        [Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.Info(
        Required = true,
        ReadOnly = false,
        Description = @"Name of the Session Pool.",
        SerializedName = @"sessionPoolName",
        PossibleTypes = new [] { typeof(string) })]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.ParameterCategory.Path)]
        public string SessionPoolName { get => this._sessionPoolName; set => this._sessionPoolName = value; }

        /// <summary>The authorized public key.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The authorized public key.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The authorized public key.",
        SerializedName = @"authorizedPublicKey",
        PossibleTypes = new [] { typeof(string) })]
        public string SshConfigurationAuthorizedPublicKey { get => _sessionEnvelopeBody.SshConfigurationAuthorizedPublicKey ?? null; set => _sessionEnvelopeBody.SshConfigurationAuthorizedPublicKey = value; }

        /// <summary>The password.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The password.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The password.",
        SerializedName = @"password",
        PossibleTypes = new [] { typeof(string) })]
        public string SshConfigurationPassword { get => _sessionEnvelopeBody.SshConfigurationPassword ?? null; set => _sessionEnvelopeBody.SshConfigurationPassword = value; }

        /// <summary>The username.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The username.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The username.",
        SerializedName = @"username",
        PossibleTypes = new [] { typeof(string) })]
        public string SshConfigurationUsername { get => _sessionEnvelopeBody.SshConfigurationUsername ?? null; set => _sessionEnvelopeBody.SshConfigurationUsername = value; }

        /// <summary>The status of the Session.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The status of the Session.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The status of the Session.",
        SerializedName = @"status",
        PossibleTypes = new [] { typeof(string) })]
        public string Status { get => _sessionEnvelopeBody.Status ?? null; set => _sessionEnvelopeBody.Status = value; }

        /// <summary>Backing field for <see cref="SubscriptionId" /> property.</summary>
        private string _subscriptionId;

        /// <summary>The ID of the target subscription. The value must be an UUID.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = true, HelpMessage = "The ID of the target subscription. The value must be an UUID.")]
        [Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.Info(
        Required = true,
        ReadOnly = false,
        Description = @"The ID of the target subscription. The value must be an UUID.",
        SerializedName = @"subscriptionId",
        PossibleTypes = new [] { typeof(string) })]
        [Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.DefaultInfo(
        Name = @"",
        Description =@"",
        Script = @"(Get-AzContext).Subscription.Id")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.ParameterCategory.Path)]
        public string SubscriptionId { get => this._subscriptionId; set => this._subscriptionId = value; }

        /// <summary>The time elapsed in seconds since the Session was created.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The time elapsed in seconds since the Session was created.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The time elapsed in seconds since the Session was created.",
        SerializedName = @"timeElapsedInSeconds",
        PossibleTypes = new [] { typeof(int) })]
        public int TimeElapsedInSecond { get => _sessionEnvelopeBody.TimeElapsedInSecond ?? default(int); set => _sessionEnvelopeBody.TimeElapsedInSecond = value; }

        /// <summary>
        /// <c>overrideOnDefault</c> will be called before the regular onDefault has been processed, allowing customization of what
        /// happens on that response. Implement this method in a partial class to enable this behavior
        /// </summary>
        /// <param name="responseMessage">the raw response message as an global::System.Net.Http.HttpResponseMessage.</param>
        /// <param name="response">the body result as a <see cref="Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Models.Api20231102Preview.IDefaultErrorResponse">Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Models.Api20231102Preview.IDefaultErrorResponse</see>
        /// from the remote call</param>
        /// <param name="returnNow">/// Determines if the rest of the onDefault method should be processed, or if the method should
        /// return immediately (set to true to skip further processing )</param>

        partial void overrideOnDefault(global::System.Net.Http.HttpResponseMessage responseMessage, global::System.Threading.Tasks.Task<Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Models.Api20231102Preview.IDefaultErrorResponse> response, ref global::System.Threading.Tasks.Task<bool> returnNow);

        /// <summary>
        /// <c>overrideOnOk</c> will be called before the regular onOk has been processed, allowing customization of what happens
        /// on that response. Implement this method in a partial class to enable this behavior
        /// </summary>
        /// <param name="responseMessage">the raw response message as an global::System.Net.Http.HttpResponseMessage.</param>
        /// <param name="response">the body result as a <see cref="Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Models.Api20231102Preview.ISessionCollection">Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Models.Api20231102Preview.ISessionCollection</see>
        /// from the remote call</param>
        /// <param name="returnNow">/// Determines if the rest of the onOk method should be processed, or if the method should return
        /// immediately (set to true to skip further processing )</param>

        partial void overrideOnOk(global::System.Net.Http.HttpResponseMessage responseMessage, global::System.Threading.Tasks.Task<Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Models.Api20231102Preview.ISessionCollection> response, ref global::System.Threading.Tasks.Task<bool> returnNow);

        /// <summary>
        /// (overrides the default BeginProcessing method in global::System.Management.Automation.PSCmdlet)
        /// </summary>
        protected override void BeginProcessing()
        {
            var telemetryId = Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Module.Instance.GetTelemetryId.Invoke();
            if (telemetryId != "" && telemetryId != "internal")
            {
                __correlationId = telemetryId;
            }
            Module.Instance.SetProxyConfiguration(Proxy, ProxyCredential, ProxyUseDefaultCredentials);
            if (Break)
            {
                Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.AttachDebugger.Break();
            }
            ((Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.Events.CmdletBeginProcessing).Wait(); if( ((Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.IEventListener)this).Token.IsCancellationRequested ) { return; }
        }

        /// <summary>Performs clean-up after the command execution</summary>
        protected override void EndProcessing()
        {

        }

        /// <summary>Handles/Dispatches events during the call to the REST service.</summary>
        /// <param name="id">The message id</param>
        /// <param name="token">The message cancellation token. When this call is cancelled, this should be <c>true</c></param>
        /// <param name="messageData">Detailed message data for the message event.</param>
        /// <returns>
        /// A <see cref="global::System.Threading.Tasks.Task" /> that will be complete when handling of the message is completed.
        /// </returns>
         async global::System.Threading.Tasks.Task Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.IEventListener.Signal(string id, global::System.Threading.CancellationToken token, global::System.Func<Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.EventData> messageData)
        {
            using( NoSynchronizationContext )
            {
                if (token.IsCancellationRequested)
                {
                    return ;
                }

                switch ( id )
                {
                    case Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.Events.Verbose:
                    {
                        WriteVerbose($"{(messageData().Message ?? global::System.String.Empty)}");
                        return ;
                    }
                    case Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.Events.Warning:
                    {
                        WriteWarning($"{(messageData().Message ?? global::System.String.Empty)}");
                        return ;
                    }
                    case Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.Events.Information:
                    {
                        var data = messageData();
                        WriteInformation(data.Message, new string[]{});
                        return ;
                    }
                    case Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.Events.Debug:
                    {
                        WriteDebug($"{(messageData().Message ?? global::System.String.Empty)}");
                        return ;
                    }
                    case Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.Events.Error:
                    {
                        WriteError(new global::System.Management.Automation.ErrorRecord( new global::System.Exception(messageData().Message), string.Empty, global::System.Management.Automation.ErrorCategory.NotSpecified, null ) );
                        return ;
                    }
                }
                await Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Module.Instance.Signal(id, token, messageData, (i,t,m) => ((Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.IEventListener)this).Signal(i,t,()=> Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.EventDataConverter.ConvertFrom( m() ) as Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.EventData ), InvocationInformation, this.ParameterSetName, __correlationId, __processRecordId, null );
                if (token.IsCancellationRequested)
                {
                    return ;
                }
                WriteDebug($"{id}: {(messageData().Message ?? global::System.String.Empty)}");
            }
        }

        /// <summary>
        /// Intializes a new instance of the <see cref="NewAzContainerAppsApiContainerAppSessionPoolSession_GenerateExpanded" /> cmdlet
        /// class.
        /// </summary>
        public NewAzContainerAppsApiContainerAppSessionPoolSession_GenerateExpanded()
        {

        }

        /// <summary>Performs execution of the command.</summary>
        protected override void ProcessRecord()
        {
            ((Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.Events.CmdletProcessRecordStart).Wait(); if( ((Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.IEventListener)this).Token.IsCancellationRequested ) { return; }
            __processRecordId = System.Guid.NewGuid().ToString();
            try
            {
                // work
                if (ShouldProcess($"Call remote 'ContainerAppsSessionPoolSessionsGenerateSessions' operation"))
                {
                    using( var asyncCommandRuntime = new Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.PowerShell.AsyncCommandRuntime(this, ((Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.IEventListener)this).Token) )
                    {
                        asyncCommandRuntime.Wait( ProcessRecordAsync(),((Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.IEventListener)this).Token);
                    }
                }
            }
            catch (global::System.AggregateException aggregateException)
            {
                // unroll the inner exceptions to get the root cause
                foreach( var innerException in aggregateException.Flatten().InnerExceptions )
                {
                    ((Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.Events.CmdletException, $"{innerException.GetType().Name} - {innerException.Message} : {innerException.StackTrace}").Wait(); if( ((Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.IEventListener)this).Token.IsCancellationRequested ) { return; }
                    // Write exception out to error channel.
                    WriteError( new global::System.Management.Automation.ErrorRecord(innerException,string.Empty, global::System.Management.Automation.ErrorCategory.NotSpecified, null) );
                }
            }
            catch (global::System.Exception exception) when ((exception as System.Management.Automation.PipelineStoppedException)== null || (exception as System.Management.Automation.PipelineStoppedException).InnerException != null)
            {
                ((Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.Events.CmdletException, $"{exception.GetType().Name} - {exception.Message} : {exception.StackTrace}").Wait(); if( ((Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.IEventListener)this).Token.IsCancellationRequested ) { return; }
                // Write exception out to error channel.
                WriteError( new global::System.Management.Automation.ErrorRecord(exception,string.Empty, global::System.Management.Automation.ErrorCategory.NotSpecified, null) );
            }
            finally
            {
                ((Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.Events.CmdletProcessRecordEnd).Wait();
            }
        }

        /// <summary>Performs execution of the command, working asynchronously if required.</summary>
        /// <returns>
        /// A <see cref="global::System.Threading.Tasks.Task" /> that will be complete when handling of the method is completed.
        /// </returns>
        protected async global::System.Threading.Tasks.Task ProcessRecordAsync()
        {
            using( NoSynchronizationContext )
            {
                await ((Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.Events.CmdletGetPipeline); if( ((Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.IEventListener)this).Token.IsCancellationRequested ) { return; }
                Pipeline = Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Module.Instance.CreatePipeline(InvocationInformation, __correlationId, __processRecordId, this.ParameterSetName);
                if (null != HttpPipelinePrepend)
                {
                    Pipeline.Prepend((this.CommandRuntime as Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.PowerShell.IAsyncCommandRuntimeExtensions)?.Wrap(HttpPipelinePrepend) ?? HttpPipelinePrepend);
                }
                if (null != HttpPipelineAppend)
                {
                    Pipeline.Append((this.CommandRuntime as Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.PowerShell.IAsyncCommandRuntimeExtensions)?.Wrap(HttpPipelineAppend) ?? HttpPipelineAppend);
                }
                // get the client instance
                try
                {
                    await ((Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.Events.CmdletBeforeAPICall); if( ((Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.IEventListener)this).Token.IsCancellationRequested ) { return; }
                    await this.Client.ContainerAppsSessionPoolSessionsGenerateSessions(SubscriptionId, ResourceGroupName, SessionPoolName, this.InvocationInformation.BoundParameters.ContainsKey("Count") ? Count : default(int?), _sessionEnvelopeBody, onOk, onDefault, this, Pipeline);
                    await ((Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.Events.CmdletAfterAPICall); if( ((Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.IEventListener)this).Token.IsCancellationRequested ) { return; }
                }
                catch (Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.UndeclaredResponseException urexception)
                {
                    WriteError(new global::System.Management.Automation.ErrorRecord(urexception, urexception.StatusCode.ToString(), global::System.Management.Automation.ErrorCategory.InvalidOperation, new {  SubscriptionId=SubscriptionId,ResourceGroupName=ResourceGroupName,SessionPoolName=SessionPoolName,Count=this.InvocationInformation.BoundParameters.ContainsKey("Count") ? Count : default(int?),body=_sessionEnvelopeBody})
                    {
                      ErrorDetails = new global::System.Management.Automation.ErrorDetails(urexception.Message) { RecommendedAction = urexception.Action }
                    });
                }
                finally
                {
                    await ((Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.Events.CmdletProcessRecordAsyncEnd);
                }
            }
        }

        /// <summary>Interrupts currently running code within the command.</summary>
        protected override void StopProcessing()
        {
            ((Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.IEventListener)this).Cancel();
            base.StopProcessing();
        }

        /// <summary>
        /// a delegate that is called when the remote service returns default (any response code not handled elsewhere).
        /// </summary>
        /// <param name="responseMessage">the raw response message as an global::System.Net.Http.HttpResponseMessage.</param>
        /// <param name="response">the body result as a <see cref="Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Models.Api20231102Preview.IDefaultErrorResponse">Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Models.Api20231102Preview.IDefaultErrorResponse</see>
        /// from the remote call</param>
        /// <returns>
        /// A <see cref="global::System.Threading.Tasks.Task" /> that will be complete when handling of the method is completed.
        /// </returns>
        private async global::System.Threading.Tasks.Task onDefault(global::System.Net.Http.HttpResponseMessage responseMessage, global::System.Threading.Tasks.Task<Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Models.Api20231102Preview.IDefaultErrorResponse> response)
        {
            using( NoSynchronizationContext )
            {
                var _returnNow = global::System.Threading.Tasks.Task<bool>.FromResult(false);
                overrideOnDefault(responseMessage, response, ref _returnNow);
                // if overrideOnDefault has returned true, then return right away.
                if ((null != _returnNow && await _returnNow))
                {
                    return ;
                }
                // Error Response : default
                var code = (await response)?.Code;
                var message = (await response)?.Message;
                if ((null == code || null == message))
                {
                    // Unrecognized Response. Create an error record based on what we have.
                    var ex = new Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.RestException<Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Models.Api20231102Preview.IDefaultErrorResponse>(responseMessage, await response);
                    WriteError( new global::System.Management.Automation.ErrorRecord(ex, ex.Code, global::System.Management.Automation.ErrorCategory.InvalidOperation, new { SubscriptionId=SubscriptionId, ResourceGroupName=ResourceGroupName, SessionPoolName=SessionPoolName, Count=this.InvocationInformation.BoundParameters.ContainsKey("Count") ? Count : default(int?), body=_sessionEnvelopeBody })
                    {
                      ErrorDetails = new global::System.Management.Automation.ErrorDetails(ex.Message) { RecommendedAction = ex.Action }
                    });
                }
                else
                {
                    WriteError( new global::System.Management.Automation.ErrorRecord(new global::System.Exception($"[{code}] : {message}"), code?.ToString(), global::System.Management.Automation.ErrorCategory.InvalidOperation, new { SubscriptionId=SubscriptionId, ResourceGroupName=ResourceGroupName, SessionPoolName=SessionPoolName, Count=this.InvocationInformation.BoundParameters.ContainsKey("Count") ? Count : default(int?), body=_sessionEnvelopeBody })
                    {
                      ErrorDetails = new global::System.Management.Automation.ErrorDetails(message) { RecommendedAction = global::System.String.Empty }
                    });
                }
            }
        }

        /// <summary>a delegate that is called when the remote service returns 200 (OK).</summary>
        /// <param name="responseMessage">the raw response message as an global::System.Net.Http.HttpResponseMessage.</param>
        /// <param name="response">the body result as a <see cref="Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Models.Api20231102Preview.ISessionCollection">Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Models.Api20231102Preview.ISessionCollection</see>
        /// from the remote call</param>
        /// <returns>
        /// A <see cref="global::System.Threading.Tasks.Task" /> that will be complete when handling of the method is completed.
        /// </returns>
        private async global::System.Threading.Tasks.Task onOk(global::System.Net.Http.HttpResponseMessage responseMessage, global::System.Threading.Tasks.Task<Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Models.Api20231102Preview.ISessionCollection> response)
        {
            using( NoSynchronizationContext )
            {
                var _returnNow = global::System.Threading.Tasks.Task<bool>.FromResult(false);
                overrideOnOk(responseMessage, response, ref _returnNow);
                // if overrideOnOk has returned true, then return right away.
                if ((null != _returnNow && await _returnNow))
                {
                    return ;
                }
                // onOk - response for 200 / application/json
                // response should be returning an array of some kind. +Pageable
                // pageable / value / nextLink
                var result = await response;
                WriteObject(result.Value,true);
                _nextLink = result.NextLink;
                if (_isFirst)
                {
                    _isFirst = false;
                    while (_nextLink != null)
                    {
                        if (responseMessage.RequestMessage is System.Net.Http.HttpRequestMessage requestMessage )
                        {
                            requestMessage = requestMessage.Clone(new global::System.Uri( _nextLink ),Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.Method.Get );
                            await ((Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.Events.FollowingNextLink); if( ((Microsoft.Azure.PowerShell.Cmdlets.ContainerAppsApi.Runtime.IEventListener)this).Token.IsCancellationRequested ) { return; }
                            await this.Client.ContainerAppsSessionPoolSessionsGenerateSessions_Call(requestMessage, onOk, onDefault, this, Pipeline);
                        }
                    }
                }
            }
        }
    }
}