// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

namespace Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Cmdlets
{
    using static Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.Extensions;
    using System;

    /// <summary>Creates new or updates existing API.</summary>
    /// <remarks>
    /// [OpenAPI] CreateOrUpdate=>PUT:"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiCenter/services/{serviceName}/workspaces/{workspaceName}/apis/{apiName}"
    /// </remarks>
    [global::System.Management.Automation.Cmdlet(global::System.Management.Automation.VerbsCommon.New, @"AzApiCenterApi_CreateExpanded", SupportsShouldProcess = true)]
    [global::System.Management.Automation.OutputType(typeof(Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Models.Api20240601Preview.IApi))]
    [global::Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Description(@"Creates new or updates existing API.")]
    [global::Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Generated]
    [global::Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.HttpPath(Path = "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiCenter/services/{serviceName}/workspaces/{workspaceName}/apis/{apiName}", ApiVersion = "2024-06-01-preview")]
    public partial class NewAzApiCenterApi_CreateExpanded : global::System.Management.Automation.PSCmdlet,
        Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.IEventListener
    {
        /// <summary>A unique id generatd for the this cmdlet when it is instantiated.</summary>
        private string __correlationId = System.Guid.NewGuid().ToString();

        /// <summary>A copy of the Invocation Info (necessary to allow asJob to clone this cmdlet)</summary>
        private global::System.Management.Automation.InvocationInfo __invocationInfo;

        /// <summary>A unique id generatd for the this cmdlet when ProcessRecord() is called.</summary>
        private string __processRecordId;

        /// <summary>
        /// The <see cref="global::System.Threading.CancellationTokenSource" /> for this operation.
        /// </summary>
        private global::System.Threading.CancellationTokenSource _cancellationTokenSource = new global::System.Threading.CancellationTokenSource();

        /// <summary>API entity.</summary>
        private Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Models.Api20240601Preview.IApi _resourceBody = new Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Models.Api20240601Preview.Api();

        /// <summary>Wait for .NET debugger to attach</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, DontShow = true, HelpMessage = "Wait for .NET debugger to attach")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.ParameterCategory.Runtime)]
        public global::System.Management.Automation.SwitchParameter Break { get; set; }

        /// <summary>The reference to the client API class.</summary>
        public Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.AzureApiCenter Client => Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Module.Instance.ClientAPI;

        /// <summary>The set of contacts</summary>
        [global::System.Management.Automation.AllowEmptyCollection]
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The set of contacts")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The set of contacts",
        SerializedName = @"contacts",
        PossibleTypes = new [] { typeof(Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Models.Api20240601Preview.IContact) })]
        public Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Models.Api20240601Preview.IContact[] Contact { get => _resourceBody.Contact ?? null /* arrayOf */; set => _resourceBody.Contact = value; }

        /// <summary>The custom metadata defined for API catalog entities.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The custom metadata defined for API catalog entities.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The custom metadata defined for API catalog entities.",
        SerializedName = @"customProperties",
        PossibleTypes = new [] { typeof(Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Models.IAny) })]
        public Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Models.IAny CustomProperty { get => _resourceBody.CustomProperty ?? null /* object */; set => _resourceBody.CustomProperty = value; }

        /// <summary>
        /// The DefaultProfile parameter is not functional. Use the SubscriptionId parameter when available if executing the cmdlet
        /// against a different subscription
        /// </summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The DefaultProfile parameter is not functional. Use the SubscriptionId parameter when available if executing the cmdlet against a different subscription.")]
        [global::System.Management.Automation.ValidateNotNull]
        [global::System.Management.Automation.Alias("AzureRMContext", "AzureCredential")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.ParameterCategory.Azure)]
        public global::System.Management.Automation.PSObject DefaultProfile { get; set; }

        /// <summary>Description of the API.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Description of the API.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Description of the API.",
        SerializedName = @"description",
        PossibleTypes = new [] { typeof(string) })]
        public string Description { get => _resourceBody.Description ?? null; set => _resourceBody.Description = value; }

        /// <summary>The set of external documentation</summary>
        [global::System.Management.Automation.AllowEmptyCollection]
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The set of external documentation")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The set of external documentation",
        SerializedName = @"externalDocumentation",
        PossibleTypes = new [] { typeof(Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Models.Api20240601Preview.IExternalDocumentation) })]
        public Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Models.Api20240601Preview.IExternalDocumentation[] ExternalDocumentation { get => _resourceBody.ExternalDocumentation ?? null /* arrayOf */; set => _resourceBody.ExternalDocumentation = value; }

        /// <summary>SendAsync Pipeline Steps to be appended to the front of the pipeline</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, DontShow = true, HelpMessage = "SendAsync Pipeline Steps to be appended to the front of the pipeline")]
        [global::System.Management.Automation.ValidateNotNull]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.ParameterCategory.Runtime)]
        public Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.SendAsyncStep[] HttpPipelineAppend { get; set; }

        /// <summary>SendAsync Pipeline Steps to be prepended to the front of the pipeline</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, DontShow = true, HelpMessage = "SendAsync Pipeline Steps to be prepended to the front of the pipeline")]
        [global::System.Management.Automation.ValidateNotNull]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.ParameterCategory.Runtime)]
        public Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.SendAsyncStep[] HttpPipelinePrepend { get; set; }

        /// <summary>Accessor for our copy of the InvocationInfo.</summary>
        public global::System.Management.Automation.InvocationInfo InvocationInformation { get => __invocationInfo = __invocationInfo ?? this.MyInvocation ; set { __invocationInfo = value; } }

        /// <summary>Kind of API. For example, REST or GraphQL.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Kind of API. For example, REST or GraphQL.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Kind of API. For example, REST or GraphQL.",
        SerializedName = @"kind",
        PossibleTypes = new [] { typeof(Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Support.ApiKind) })]
        [global::System.Management.Automation.ArgumentCompleter(typeof(Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Support.ApiKind))]
        public Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Support.ApiKind Kind { get => _resourceBody.Kind ?? ((Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Support.ApiKind)""); set => _resourceBody.Kind = value; }

        /// <summary>
        /// SPDX license information for the API. The identifier field is mutuallyexclusive of the URL field.
        /// </summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "SPDX license information for the API. The identifier field is mutuallyexclusive of the URL field.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"SPDX license information for the API. The identifier field is mutuallyexclusive of the URL field.",
        SerializedName = @"identifier",
        PossibleTypes = new [] { typeof(string) })]
        public string LicenseIdentifier { get => _resourceBody.LicenseIdentifier ?? null; set => _resourceBody.LicenseIdentifier = value; }

        /// <summary>Name of the license.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Name of the license.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Name of the license.",
        SerializedName = @"name",
        PossibleTypes = new [] { typeof(string) })]
        public string LicenseName { get => _resourceBody.LicenseName ?? null; set => _resourceBody.LicenseName = value; }

        /// <summary>
        /// URL pointing to the license details. The URL field is mutually exclusive of theidentifier field.
        /// </summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "URL pointing to the license details. The URL field is mutually exclusive of theidentifier field.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"URL pointing to the license details. The URL field is mutually exclusive of theidentifier field.",
        SerializedName = @"url",
        PossibleTypes = new [] { typeof(string) })]
        public string LicenseUrl { get => _resourceBody.LicenseUrl ?? null; set => _resourceBody.LicenseUrl = value; }

        /// <summary>
        /// <see cref="Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.IEventListener" /> cancellation delegate. Stops the cmdlet when called.
        /// </summary>
        global::System.Action Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.IEventListener.Cancel => _cancellationTokenSource.Cancel;

        /// <summary><see cref="Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.IEventListener" /> cancellation token.</summary>
        global::System.Threading.CancellationToken Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.IEventListener.Token => _cancellationTokenSource.Token;

        /// <summary>Backing field for <see cref="Name" /> property.</summary>
        private string _name;

        /// <summary>The name of the API.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = true, HelpMessage = "The name of the API.")]
        [Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.Info(
        Required = true,
        ReadOnly = false,
        Description = @"The name of the API.",
        SerializedName = @"apiName",
        PossibleTypes = new [] { typeof(string) })]
        [global::System.Management.Automation.Alias("ApiName")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.ParameterCategory.Path)]
        public string Name { get => this._name; set => this._name = value; }

        /// <summary>
        /// The instance of the <see cref="Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.HttpPipeline" /> that the remote call will use.
        /// </summary>
        private Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.HttpPipeline Pipeline { get; set; }

        /// <summary>The URI for the proxy server to use</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, DontShow = true, HelpMessage = "The URI for the proxy server to use")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.ParameterCategory.Runtime)]
        public global::System.Uri Proxy { get; set; }

        /// <summary>Credentials for a proxy server to use for the remote call</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, DontShow = true, HelpMessage = "Credentials for a proxy server to use for the remote call")]
        [global::System.Management.Automation.ValidateNotNull]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.ParameterCategory.Runtime)]
        public global::System.Management.Automation.PSCredential ProxyCredential { get; set; }

        /// <summary>Use the default credentials for the proxy</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, DontShow = true, HelpMessage = "Use the default credentials for the proxy")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.ParameterCategory.Runtime)]
        public global::System.Management.Automation.SwitchParameter ProxyUseDefaultCredentials { get; set; }

        /// <summary>Backing field for <see cref="ResourceGroupName" /> property.</summary>
        private string _resourceGroupName;

        /// <summary>The name of the resource group. The name is case insensitive.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = true, HelpMessage = "The name of the resource group. The name is case insensitive.")]
        [Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.Info(
        Required = true,
        ReadOnly = false,
        Description = @"The name of the resource group. The name is case insensitive.",
        SerializedName = @"resourceGroupName",
        PossibleTypes = new [] { typeof(string) })]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.ParameterCategory.Path)]
        public string ResourceGroupName { get => this._resourceGroupName; set => this._resourceGroupName = value; }

        /// <summary>Backing field for <see cref="ServiceName" /> property.</summary>
        private string _serviceName;

        /// <summary>The name of Azure API Center service.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = true, HelpMessage = "The name of Azure API Center service.")]
        [Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.Info(
        Required = true,
        ReadOnly = false,
        Description = @"The name of Azure API Center service.",
        SerializedName = @"serviceName",
        PossibleTypes = new [] { typeof(string) })]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.ParameterCategory.Path)]
        public string ServiceName { get => this._serviceName; set => this._serviceName = value; }

        /// <summary>Backing field for <see cref="SubscriptionId" /> property.</summary>
        private string _subscriptionId;

        /// <summary>The ID of the target subscription. The value must be an UUID.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = true, HelpMessage = "The ID of the target subscription. The value must be an UUID.")]
        [Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.Info(
        Required = true,
        ReadOnly = false,
        Description = @"The ID of the target subscription. The value must be an UUID.",
        SerializedName = @"subscriptionId",
        PossibleTypes = new [] { typeof(string) })]
        [Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.DefaultInfo(
        Name = @"",
        Description =@"",
        Script = @"(Get-AzContext).Subscription.Id")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.ParameterCategory.Path)]
        public string SubscriptionId { get => this._subscriptionId; set => this._subscriptionId = value; }

        /// <summary>Short description of the API.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Short description of the API.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Short description of the API.",
        SerializedName = @"summary",
        PossibleTypes = new [] { typeof(string) })]
        public string Summary { get => _resourceBody.Summary ?? null; set => _resourceBody.Summary = value; }

        /// <summary>URL pointing to the terms of service.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "URL pointing to the terms of service.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"URL pointing to the terms of service.",
        SerializedName = @"url",
        PossibleTypes = new [] { typeof(string) })]
        public string TermOfServiceUrl { get => _resourceBody.TermOfServiceUrl ?? null; set => _resourceBody.TermOfServiceUrl = value; }

        /// <summary>API title.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "API title.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"API title.",
        SerializedName = @"title",
        PossibleTypes = new [] { typeof(string) })]
        public string Title { get => _resourceBody.Title ?? null; set => _resourceBody.Title = value; }

        /// <summary>Backing field for <see cref="WorkspaceName" /> property.</summary>
        private string _workspaceName;

        /// <summary>The name of the workspace.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = true, HelpMessage = "The name of the workspace.")]
        [Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.Info(
        Required = true,
        ReadOnly = false,
        Description = @"The name of the workspace.",
        SerializedName = @"workspaceName",
        PossibleTypes = new [] { typeof(string) })]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.ParameterCategory.Path)]
        public string WorkspaceName { get => this._workspaceName; set => this._workspaceName = value; }

        /// <summary>
        /// <c>overrideOnCreated</c> will be called before the regular onCreated has been processed, allowing customization of what
        /// happens on that response. Implement this method in a partial class to enable this behavior
        /// </summary>
        /// <param name="responseMessage">the raw response message as an global::System.Net.Http.HttpResponseMessage.</param>
        /// <param name="response">the body result as a <see cref="Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Models.Api20240601Preview.IApi">Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Models.Api20240601Preview.IApi</see>
        /// from the remote call</param>
        /// <param name="returnNow">/// Determines if the rest of the onCreated method should be processed, or if the method should
        /// return immediately (set to true to skip further processing )</param>

        partial void overrideOnCreated(global::System.Net.Http.HttpResponseMessage responseMessage, global::System.Threading.Tasks.Task<Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Models.Api20240601Preview.IApi> response, ref global::System.Threading.Tasks.Task<bool> returnNow);

        /// <summary>
        /// <c>overrideOnDefault</c> will be called before the regular onDefault has been processed, allowing customization of what
        /// happens on that response. Implement this method in a partial class to enable this behavior
        /// </summary>
        /// <param name="responseMessage">the raw response message as an global::System.Net.Http.HttpResponseMessage.</param>
        /// <param name="response">the body result as a <see cref="Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Models.Api50.IErrorResponse">Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Models.Api50.IErrorResponse</see>
        /// from the remote call</param>
        /// <param name="returnNow">/// Determines if the rest of the onDefault method should be processed, or if the method should
        /// return immediately (set to true to skip further processing )</param>

        partial void overrideOnDefault(global::System.Net.Http.HttpResponseMessage responseMessage, global::System.Threading.Tasks.Task<Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Models.Api50.IErrorResponse> response, ref global::System.Threading.Tasks.Task<bool> returnNow);

        /// <summary>
        /// <c>overrideOnOk</c> will be called before the regular onOk has been processed, allowing customization of what happens
        /// on that response. Implement this method in a partial class to enable this behavior
        /// </summary>
        /// <param name="responseMessage">the raw response message as an global::System.Net.Http.HttpResponseMessage.</param>
        /// <param name="response">the body result as a <see cref="Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Models.Api20240601Preview.IApi">Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Models.Api20240601Preview.IApi</see>
        /// from the remote call</param>
        /// <param name="returnNow">/// Determines if the rest of the onOk method should be processed, or if the method should return
        /// immediately (set to true to skip further processing )</param>

        partial void overrideOnOk(global::System.Net.Http.HttpResponseMessage responseMessage, global::System.Threading.Tasks.Task<Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Models.Api20240601Preview.IApi> response, ref global::System.Threading.Tasks.Task<bool> returnNow);

        /// <summary>
        /// (overrides the default BeginProcessing method in global::System.Management.Automation.PSCmdlet)
        /// </summary>
        protected override void BeginProcessing()
        {
            var telemetryId = Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Module.Instance.GetTelemetryId.Invoke();
            if (telemetryId != "" && telemetryId != "internal")
            {
                __correlationId = telemetryId;
            }
            Module.Instance.SetProxyConfiguration(Proxy, ProxyCredential, ProxyUseDefaultCredentials);
            if (Break)
            {
                Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.AttachDebugger.Break();
            }
            ((Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.Events.CmdletBeginProcessing).Wait(); if( ((Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.IEventListener)this).Token.IsCancellationRequested ) { return; }
        }

        /// <summary>Performs clean-up after the command execution</summary>
        protected override void EndProcessing()
        {
            var telemetryInfo = Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Module.Instance.GetTelemetryInfo?.Invoke(__correlationId);
            if (telemetryInfo != null)
            {
                telemetryInfo.TryGetValue("ShowSecretsWarning", out var showSecretsWarning);
                telemetryInfo.TryGetValue("SanitizedProperties", out var sanitizedProperties);
                telemetryInfo.TryGetValue("InvocationName", out var invocationName);
                if (showSecretsWarning == "true")
                {
                    if (string.IsNullOrEmpty(sanitizedProperties))
                    {
                        WriteWarning($"The output of cmdlet {invocationName} may compromise security by showing secrets. Learn more at https://go.microsoft.com/fwlink/?linkid=2258844");
                    }
                    else
                    {
                        WriteWarning($"The output of cmdlet {invocationName} may compromise security by showing the following secrets: {sanitizedProperties}. Learn more at https://go.microsoft.com/fwlink/?linkid=2258844");
                    }
                }
            }
        }

        /// <summary>Handles/Dispatches events during the call to the REST service.</summary>
        /// <param name="id">The message id</param>
        /// <param name="token">The message cancellation token. When this call is cancelled, this should be <c>true</c></param>
        /// <param name="messageData">Detailed message data for the message event.</param>
        /// <returns>
        /// A <see cref="global::System.Threading.Tasks.Task" /> that will be complete when handling of the message is completed.
        /// </returns>
         async global::System.Threading.Tasks.Task Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.IEventListener.Signal(string id, global::System.Threading.CancellationToken token, global::System.Func<Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.EventData> messageData)
        {
            using( NoSynchronizationContext )
            {
                if (token.IsCancellationRequested)
                {
                    return ;
                }

                switch ( id )
                {
                    case Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.Events.Verbose:
                    {
                        WriteVerbose($"{(messageData().Message ?? global::System.String.Empty)}");
                        return ;
                    }
                    case Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.Events.Warning:
                    {
                        WriteWarning($"{(messageData().Message ?? global::System.String.Empty)}");
                        return ;
                    }
                    case Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.Events.Information:
                    {
                        var data = messageData();
                        WriteInformation(data.Message, new string[]{});
                        return ;
                    }
                    case Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.Events.Debug:
                    {
                        WriteDebug($"{(messageData().Message ?? global::System.String.Empty)}");
                        return ;
                    }
                    case Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.Events.Error:
                    {
                        WriteError(new global::System.Management.Automation.ErrorRecord( new global::System.Exception(messageData().Message), string.Empty, global::System.Management.Automation.ErrorCategory.NotSpecified, null ) );
                        return ;
                    }
                }
                await Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Module.Instance.Signal(id, token, messageData, (i,t,m) => ((Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.IEventListener)this).Signal(i,t,()=> Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.EventDataConverter.ConvertFrom( m() ) as Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.EventData ), InvocationInformation, this.ParameterSetName, __correlationId, __processRecordId, null );
                if (token.IsCancellationRequested)
                {
                    return ;
                }
                WriteDebug($"{id}: {(messageData().Message ?? global::System.String.Empty)}");
            }
        }

        /// <summary>
        /// Intializes a new instance of the <see cref="NewAzApiCenterApi_CreateExpanded" /> cmdlet class.
        /// </summary>
        public NewAzApiCenterApi_CreateExpanded()
        {

        }

        /// <summary>Performs execution of the command.</summary>
        protected override void ProcessRecord()
        {
            ((Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.Events.CmdletProcessRecordStart).Wait(); if( ((Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.IEventListener)this).Token.IsCancellationRequested ) { return; }
            __processRecordId = System.Guid.NewGuid().ToString();
            try
            {
                // work
                if (ShouldProcess($"Call remote 'ApisCreateOrUpdate' operation"))
                {
                    using( var asyncCommandRuntime = new Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.PowerShell.AsyncCommandRuntime(this, ((Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.IEventListener)this).Token) )
                    {
                        asyncCommandRuntime.Wait( ProcessRecordAsync(),((Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.IEventListener)this).Token);
                    }
                }
            }
            catch (global::System.AggregateException aggregateException)
            {
                // unroll the inner exceptions to get the root cause
                foreach( var innerException in aggregateException.Flatten().InnerExceptions )
                {
                    ((Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.Events.CmdletException, $"{innerException.GetType().Name} - {innerException.Message} : {innerException.StackTrace}").Wait(); if( ((Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.IEventListener)this).Token.IsCancellationRequested ) { return; }
                    // Write exception out to error channel.
                    WriteError( new global::System.Management.Automation.ErrorRecord(innerException,string.Empty, global::System.Management.Automation.ErrorCategory.NotSpecified, null) );
                }
            }
            catch (global::System.Exception exception) when ((exception as System.Management.Automation.PipelineStoppedException)== null || (exception as System.Management.Automation.PipelineStoppedException).InnerException != null)
            {
                ((Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.Events.CmdletException, $"{exception.GetType().Name} - {exception.Message} : {exception.StackTrace}").Wait(); if( ((Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.IEventListener)this).Token.IsCancellationRequested ) { return; }
                // Write exception out to error channel.
                WriteError( new global::System.Management.Automation.ErrorRecord(exception,string.Empty, global::System.Management.Automation.ErrorCategory.NotSpecified, null) );
            }
            finally
            {
                ((Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.Events.CmdletProcessRecordEnd).Wait();
            }
        }

        /// <summary>Performs execution of the command, working asynchronously if required.</summary>
        /// <returns>
        /// A <see cref="global::System.Threading.Tasks.Task" /> that will be complete when handling of the method is completed.
        /// </returns>
        protected async global::System.Threading.Tasks.Task ProcessRecordAsync()
        {
            using( NoSynchronizationContext )
            {
                await ((Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.Events.CmdletGetPipeline); if( ((Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.IEventListener)this).Token.IsCancellationRequested ) { return; }
                Pipeline = Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Module.Instance.CreatePipeline(InvocationInformation, __correlationId, __processRecordId, this.ParameterSetName);
                if (null != HttpPipelinePrepend)
                {
                    Pipeline.Prepend((this.CommandRuntime as Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.PowerShell.IAsyncCommandRuntimeExtensions)?.Wrap(HttpPipelinePrepend) ?? HttpPipelinePrepend);
                }
                if (null != HttpPipelineAppend)
                {
                    Pipeline.Append((this.CommandRuntime as Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.PowerShell.IAsyncCommandRuntimeExtensions)?.Wrap(HttpPipelineAppend) ?? HttpPipelineAppend);
                }
                // get the client instance
                try
                {
                    await ((Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.Events.CmdletBeforeAPICall); if( ((Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.IEventListener)this).Token.IsCancellationRequested ) { return; }
                    await this.Client.ApisCreateOrUpdate(SubscriptionId, ResourceGroupName, ServiceName, WorkspaceName, Name, _resourceBody, onOk, onCreated, onDefault, this, Pipeline);
                    await ((Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.Events.CmdletAfterAPICall); if( ((Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.IEventListener)this).Token.IsCancellationRequested ) { return; }
                }
                catch (Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.UndeclaredResponseException urexception)
                {
                    WriteError(new global::System.Management.Automation.ErrorRecord(urexception, urexception.StatusCode.ToString(), global::System.Management.Automation.ErrorCategory.InvalidOperation, new {  SubscriptionId=SubscriptionId,ResourceGroupName=ResourceGroupName,ServiceName=ServiceName,WorkspaceName=WorkspaceName,Name=Name,body=_resourceBody})
                    {
                      ErrorDetails = new global::System.Management.Automation.ErrorDetails(urexception.Message) { RecommendedAction = urexception.Action }
                    });
                }
                finally
                {
                    await ((Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.Events.CmdletProcessRecordAsyncEnd);
                }
            }
        }

        /// <summary>Interrupts currently running code within the command.</summary>
        protected override void StopProcessing()
        {
            ((Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.IEventListener)this).Cancel();
            base.StopProcessing();
        }

        /// <param name="sendToPipeline"></param>
        new protected void WriteObject(object sendToPipeline)
        {
            Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Module.Instance.SanitizeOutput?.Invoke(sendToPipeline, __correlationId);
            base.WriteObject(sendToPipeline);
        }

        /// <param name="sendToPipeline"></param>
        /// <param name="enumerateCollection"></param>
        new protected void WriteObject(object sendToPipeline, bool enumerateCollection)
        {
            Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Module.Instance.SanitizeOutput?.Invoke(sendToPipeline, __correlationId);
            base.WriteObject(sendToPipeline, enumerateCollection);
        }

        /// <summary>a delegate that is called when the remote service returns 201 (Created).</summary>
        /// <param name="responseMessage">the raw response message as an global::System.Net.Http.HttpResponseMessage.</param>
        /// <param name="response">the body result as a <see cref="Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Models.Api20240601Preview.IApi">Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Models.Api20240601Preview.IApi</see>
        /// from the remote call</param>
        /// <returns>
        /// A <see cref="global::System.Threading.Tasks.Task" /> that will be complete when handling of the method is completed.
        /// </returns>
        private async global::System.Threading.Tasks.Task onCreated(global::System.Net.Http.HttpResponseMessage responseMessage, global::System.Threading.Tasks.Task<Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Models.Api20240601Preview.IApi> response)
        {
            using( NoSynchronizationContext )
            {
                var _returnNow = global::System.Threading.Tasks.Task<bool>.FromResult(false);
                overrideOnCreated(responseMessage, response, ref _returnNow);
                // if overrideOnCreated has returned true, then return right away.
                if ((null != _returnNow && await _returnNow))
                {
                    return ;
                }
                // onCreated - response for 201 / application/json
                // (await response) // should be Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Models.Api20240601Preview.IApi
                WriteObject((await response));
            }
        }

        /// <summary>
        /// a delegate that is called when the remote service returns default (any response code not handled elsewhere).
        /// </summary>
        /// <param name="responseMessage">the raw response message as an global::System.Net.Http.HttpResponseMessage.</param>
        /// <param name="response">the body result as a <see cref="Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Models.Api50.IErrorResponse">Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Models.Api50.IErrorResponse</see>
        /// from the remote call</param>
        /// <returns>
        /// A <see cref="global::System.Threading.Tasks.Task" /> that will be complete when handling of the method is completed.
        /// </returns>
        private async global::System.Threading.Tasks.Task onDefault(global::System.Net.Http.HttpResponseMessage responseMessage, global::System.Threading.Tasks.Task<Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Models.Api50.IErrorResponse> response)
        {
            using( NoSynchronizationContext )
            {
                var _returnNow = global::System.Threading.Tasks.Task<bool>.FromResult(false);
                overrideOnDefault(responseMessage, response, ref _returnNow);
                // if overrideOnDefault has returned true, then return right away.
                if ((null != _returnNow && await _returnNow))
                {
                    return ;
                }
                // Error Response : default
                var code = (await response)?.Code;
                var message = (await response)?.Message;
                if ((null == code || null == message))
                {
                    // Unrecognized Response. Create an error record based on what we have.
                    var ex = new Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Runtime.RestException<Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Models.Api50.IErrorResponse>(responseMessage, await response);
                    WriteError( new global::System.Management.Automation.ErrorRecord(ex, ex.Code, global::System.Management.Automation.ErrorCategory.InvalidOperation, new { SubscriptionId=SubscriptionId, ResourceGroupName=ResourceGroupName, ServiceName=ServiceName, WorkspaceName=WorkspaceName, Name=Name, body=_resourceBody })
                    {
                      ErrorDetails = new global::System.Management.Automation.ErrorDetails(ex.Message) { RecommendedAction = ex.Action }
                    });
                }
                else
                {
                    WriteError( new global::System.Management.Automation.ErrorRecord(new global::System.Exception($"[{code}] : {message}"), code?.ToString(), global::System.Management.Automation.ErrorCategory.InvalidOperation, new { SubscriptionId=SubscriptionId, ResourceGroupName=ResourceGroupName, ServiceName=ServiceName, WorkspaceName=WorkspaceName, Name=Name, body=_resourceBody })
                    {
                      ErrorDetails = new global::System.Management.Automation.ErrorDetails(message) { RecommendedAction = global::System.String.Empty }
                    });
                }
            }
        }

        /// <summary>a delegate that is called when the remote service returns 200 (OK).</summary>
        /// <param name="responseMessage">the raw response message as an global::System.Net.Http.HttpResponseMessage.</param>
        /// <param name="response">the body result as a <see cref="Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Models.Api20240601Preview.IApi">Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Models.Api20240601Preview.IApi</see>
        /// from the remote call</param>
        /// <returns>
        /// A <see cref="global::System.Threading.Tasks.Task" /> that will be complete when handling of the method is completed.
        /// </returns>
        private async global::System.Threading.Tasks.Task onOk(global::System.Net.Http.HttpResponseMessage responseMessage, global::System.Threading.Tasks.Task<Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Models.Api20240601Preview.IApi> response)
        {
            using( NoSynchronizationContext )
            {
                var _returnNow = global::System.Threading.Tasks.Task<bool>.FromResult(false);
                overrideOnOk(responseMessage, response, ref _returnNow);
                // if overrideOnOk has returned true, then return right away.
                if ((null != _returnNow && await _returnNow))
                {
                    return ;
                }
                // onOk - response for 200 / application/json
                // (await response) // should be Microsoft.Azure.PowerShell.Cmdlets.ApiCenter.Models.Api20240601Preview.IApi
                WriteObject((await response));
            }
        }
    }
}