// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

namespace Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Cmdlets
{
    using static Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.Extensions;
    using System;

    /// <summary>
    /// The operation to create or update a virtual machine instance. Please note some properties can be set only during virtual
    /// machine instance creation.
    /// </summary>
    /// <remarks>
    /// [OpenAPI] CreateOrUpdate=>PUT:"/{resourceUri}/providers/Microsoft.ConnectedVMwarevSphere/virtualMachineInstances/default"
    /// </remarks>
    [global::System.Management.Automation.Cmdlet(global::System.Management.Automation.VerbsCommon.New, @"AzArcVMwareServiceApiVirtualMachineInstance_CreateExpanded", SupportsShouldProcess = true)]
    [global::System.Management.Automation.OutputType(typeof(Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Models.Api20231201.IVirtualMachineInstance))]
    [global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Description(@"The operation to create or update a virtual machine instance. Please note some properties can be set only during virtual machine instance creation.")]
    [global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Generated]
    [global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.HttpPath(Path = "/{resourceUri}/providers/Microsoft.ConnectedVMwarevSphere/virtualMachineInstances/default", ApiVersion = "2023-12-01")]
    public partial class NewAzArcVMwareServiceApiVirtualMachineInstance_CreateExpanded : global::System.Management.Automation.PSCmdlet,
        Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.IEventListener
    {
        /// <summary>A unique id generatd for the this cmdlet when it is instantiated.</summary>
        private string __correlationId = System.Guid.NewGuid().ToString();

        /// <summary>A copy of the Invocation Info (necessary to allow asJob to clone this cmdlet)</summary>
        private global::System.Management.Automation.InvocationInfo __invocationInfo;

        /// <summary>A unique id generatd for the this cmdlet when ProcessRecord() is called.</summary>
        private string __processRecordId;

        /// <summary>Define the virtualMachineInstance.</summary>
        private Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Models.Api20231201.IVirtualMachineInstance _body = new Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Models.Api20231201.VirtualMachineInstance();

        /// <summary>
        /// The <see cref="global::System.Threading.CancellationTokenSource" /> for this operation.
        /// </summary>
        private global::System.Threading.CancellationTokenSource _cancellationTokenSource = new global::System.Threading.CancellationTokenSource();

        /// <summary>when specified, runs this cmdlet as a PowerShell job</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Run the command as a job")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.ParameterCategory.Runtime)]
        public global::System.Management.Automation.SwitchParameter AsJob { get; set; }

        /// <summary>Wait for .NET debugger to attach</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, DontShow = true, HelpMessage = "Wait for .NET debugger to attach")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.ParameterCategory.Runtime)]
        public global::System.Management.Automation.SwitchParameter Break { get; set; }

        /// <summary>The reference to the client API class.</summary>
        public Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.AzureArcVMwareManagementServiceApi Client => Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Module.Instance.ClientAPI;

        /// <summary>
        /// The DefaultProfile parameter is not functional. Use the SubscriptionId parameter when available if executing the cmdlet
        /// against a different subscription
        /// </summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The DefaultProfile parameter is not functional. Use the SubscriptionId parameter when available if executing the cmdlet against a different subscription.")]
        [global::System.Management.Automation.ValidateNotNull]
        [global::System.Management.Automation.Alias("AzureRMContext", "AzureCredential")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.ParameterCategory.Azure)]
        public global::System.Management.Automation.PSObject DefaultProfile { get; set; }

        /// <summary>The extended location name.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The extended location name.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The extended location name.",
        SerializedName = @"name",
        PossibleTypes = new [] { typeof(string) })]
        public string ExtendedLocationName { get => _body.ExtendedLocationName ?? null; set => _body.ExtendedLocationName = value; }

        /// <summary>The extended location type.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The extended location type.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The extended location type.",
        SerializedName = @"type",
        PossibleTypes = new [] { typeof(string) })]
        public string ExtendedLocationType { get => _body.ExtendedLocationType ?? null; set => _body.ExtendedLocationType = value; }

        /// <summary>Gets or sets memory size in MBs for the vm.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Gets or sets memory size in MBs for the vm.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Gets or sets memory size in MBs for the vm.",
        SerializedName = @"memorySizeMB",
        PossibleTypes = new [] { typeof(int) })]
        public int HardwareProfileMemorySizeMb { get => _body.HardwareProfileMemorySizeMb ?? default(int); set => _body.HardwareProfileMemorySizeMb = value; }

        /// <summary>
        /// Gets or sets the number of cores per socket for the vm. Defaults to 1 if unspecified.
        /// </summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Gets or sets the number of cores per socket for the vm. Defaults to 1 if unspecified.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Gets or sets the number of cores per socket for the vm. Defaults to 1 if unspecified.",
        SerializedName = @"numCoresPerSocket",
        PossibleTypes = new [] { typeof(int) })]
        public int HardwareProfileNumCoresPerSocket { get => _body.HardwareProfileNumCoresPerSocket ?? default(int); set => _body.HardwareProfileNumCoresPerSocket = value; }

        /// <summary>Gets or sets the number of vCPUs for the vm.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Gets or sets the number of vCPUs for the vm.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Gets or sets the number of vCPUs for the vm.",
        SerializedName = @"numCPUs",
        PossibleTypes = new [] { typeof(int) })]
        public int HardwareProfileNumCpUs { get => _body.HardwareProfileNumCpUs ?? default(int); set => _body.HardwareProfileNumCpUs = value; }

        /// <summary>SendAsync Pipeline Steps to be appended to the front of the pipeline</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, DontShow = true, HelpMessage = "SendAsync Pipeline Steps to be appended to the front of the pipeline")]
        [global::System.Management.Automation.ValidateNotNull]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.ParameterCategory.Runtime)]
        public Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.SendAsyncStep[] HttpPipelineAppend { get; set; }

        /// <summary>SendAsync Pipeline Steps to be prepended to the front of the pipeline</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, DontShow = true, HelpMessage = "SendAsync Pipeline Steps to be prepended to the front of the pipeline")]
        [global::System.Management.Automation.ValidateNotNull]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.ParameterCategory.Runtime)]
        public Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.SendAsyncStep[] HttpPipelinePrepend { get; set; }

        /// <summary>Firmware type</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Firmware type")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Firmware type",
        SerializedName = @"firmwareType",
        PossibleTypes = new [] { typeof(Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Support.FirmwareType) })]
        [global::System.Management.Automation.ArgumentCompleter(typeof(Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Support.FirmwareType))]
        public Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Support.FirmwareType InfrastructureProfileFirmwareType { get => _body.InfrastructureProfileFirmwareType ?? ((Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Support.FirmwareType)""); set => _body.InfrastructureProfileFirmwareType = value; }

        /// <summary>Gets or sets the inventory Item ID for the virtual machine.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Gets or sets the inventory Item ID for the virtual machine.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Gets or sets the inventory Item ID for the virtual machine.",
        SerializedName = @"inventoryItemId",
        PossibleTypes = new [] { typeof(string) })]
        public string InfrastructureProfileInventoryItemId { get => _body.InfrastructureProfileInventoryItemId ?? null; set => _body.InfrastructureProfileInventoryItemId = value; }

        /// <summary>Gets or sets the SMBIOS UUID of the vm.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Gets or sets the SMBIOS UUID of the vm.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Gets or sets the SMBIOS UUID of the vm.",
        SerializedName = @"smbiosUuid",
        PossibleTypes = new [] { typeof(string) })]
        public string InfrastructureProfileSmbiosUuid { get => _body.InfrastructureProfileSmbiosUuid ?? null; set => _body.InfrastructureProfileSmbiosUuid = value; }

        /// <summary>Gets or sets the ARM Id of the template resource to deploy the virtual machine.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Gets or sets the ARM Id of the template resource to deploy the virtual machine.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Gets or sets the ARM Id of the template resource to deploy the virtual machine.",
        SerializedName = @"templateId",
        PossibleTypes = new [] { typeof(string) })]
        public string InfrastructureProfileTemplateId { get => _body.InfrastructureProfileTemplateId ?? null; set => _body.InfrastructureProfileTemplateId = value; }

        /// <summary>
        /// Gets or sets the ARM Id of the vCenter resource in which this resource pool resides.
        /// </summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Gets or sets the ARM Id of the vCenter resource in which this resource pool resides.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Gets or sets the ARM Id of the vCenter resource in which this resource pool resides.",
        SerializedName = @"vCenterId",
        PossibleTypes = new [] { typeof(string) })]
        public string InfrastructureProfileVCenterId { get => _body.InfrastructureProfileVCenterId ?? null; set => _body.InfrastructureProfileVCenterId = value; }

        /// <summary>Accessor for our copy of the InvocationInfo.</summary>
        public global::System.Management.Automation.InvocationInfo InvocationInformation { get => __invocationInfo = __invocationInfo ?? this.MyInvocation ; set { __invocationInfo = value; } }

        /// <summary>
        /// <see cref="Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.IEventListener" /> cancellation delegate. Stops the cmdlet when called.
        /// </summary>
        global::System.Action Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.IEventListener.Cancel => _cancellationTokenSource.Cancel;

        /// <summary><see cref="Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.IEventListener" /> cancellation token.</summary>
        global::System.Threading.CancellationToken Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.IEventListener.Token => _cancellationTokenSource.Token;

        /// <summary>
        /// Gets or sets the list of network interfaces associated with the virtual machine.
        /// </summary>
        [global::System.Management.Automation.AllowEmptyCollection]
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Gets or sets the list of network interfaces associated with the virtual machine.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Gets or sets the list of network interfaces associated with the virtual machine.",
        SerializedName = @"networkInterfaces",
        PossibleTypes = new [] { typeof(Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Models.Api20231201.INetworkInterface) })]
        public Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Models.Api20231201.INetworkInterface[] NetworkProfileNetworkInterface { get => _body.NetworkProfileNetworkInterface ?? null /* arrayOf */; set => _body.NetworkProfileNetworkInterface = value; }

        /// <summary>
        /// when specified, will make the remote call, and return an AsyncOperationResponse, letting the remote operation continue
        /// asynchronously.
        /// </summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Run the command asynchronously")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.ParameterCategory.Runtime)]
        public global::System.Management.Automation.SwitchParameter NoWait { get; set; }

        /// <summary>Sets administrator password.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Sets administrator password.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Sets administrator password.",
        SerializedName = @"adminPassword",
        PossibleTypes = new [] { typeof(string) })]
        public string OSProfileAdminPassword { get => _body.OSProfileAdminPassword ?? null; set => _body.OSProfileAdminPassword = value; }

        /// <summary>Gets or sets administrator username.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Gets or sets administrator username.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Gets or sets administrator username.",
        SerializedName = @"adminUsername",
        PossibleTypes = new [] { typeof(string) })]
        public string OSProfileAdminUsername { get => _body.OSProfileAdminUsername ?? null; set => _body.OSProfileAdminUsername = value; }

        /// <summary>Gets or sets computer name.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Gets or sets computer name.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Gets or sets computer name.",
        SerializedName = @"computerName",
        PossibleTypes = new [] { typeof(string) })]
        public string OSProfileComputerName { get => _body.OSProfileComputerName ?? null; set => _body.OSProfileComputerName = value; }

        /// <summary>Gets or sets the guestId.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Gets or sets the guestId.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Gets or sets the guestId.",
        SerializedName = @"guestId",
        PossibleTypes = new [] { typeof(string) })]
        public string OSProfileGuestId { get => _body.OSProfileGuestId ?? null; set => _body.OSProfileGuestId = value; }

        /// <summary>Gets or sets the type of the os.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Gets or sets the type of the os.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Gets or sets the type of the os.",
        SerializedName = @"osType",
        PossibleTypes = new [] { typeof(Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Support.OSType) })]
        [global::System.Management.Automation.ArgumentCompleter(typeof(Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Support.OSType))]
        public Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Support.OSType OSProfileOstype { get => _body.OSProfileOstype ?? ((Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Support.OSType)""); set => _body.OSProfileOstype = value; }

        /// <summary>
        /// The instance of the <see cref="Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.HttpPipeline" /> that the remote call will use.
        /// </summary>
        private Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.HttpPipeline Pipeline { get; set; }

        /// <summary>
        /// Gets or sets the ARM Id of the cluster resource on which this virtual machine will deploy.
        /// </summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Gets or sets the ARM Id of the cluster resource on which this virtual machine will deploy.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Gets or sets the ARM Id of the cluster resource on which this virtual machine will deploy.",
        SerializedName = @"clusterId",
        PossibleTypes = new [] { typeof(string) })]
        public string PlacementProfileClusterId { get => _body.PlacementProfileClusterId ?? null; set => _body.PlacementProfileClusterId = value; }

        /// <summary>
        /// Gets or sets the ARM Id of the datastore resource on which the data for the virtual machine will be kept.
        /// </summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Gets or sets the ARM Id of the datastore resource on which the data for the virtual machine will be kept.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Gets or sets the ARM Id of the datastore resource on which the data for the virtual machine will be kept.",
        SerializedName = @"datastoreId",
        PossibleTypes = new [] { typeof(string) })]
        public string PlacementProfileDatastoreId { get => _body.PlacementProfileDatastoreId ?? null; set => _body.PlacementProfileDatastoreId = value; }

        /// <summary>
        /// Gets or sets the ARM Id of the host resource on which this virtual machine will deploy.
        /// </summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Gets or sets the ARM Id of the host resource on which this virtual machine will deploy.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Gets or sets the ARM Id of the host resource on which this virtual machine will deploy.",
        SerializedName = @"hostId",
        PossibleTypes = new [] { typeof(string) })]
        public string PlacementProfileHostId { get => _body.PlacementProfileHostId ?? null; set => _body.PlacementProfileHostId = value; }

        /// <summary>
        /// Gets or sets the ARM Id of the resourcePool resource on which this virtual machine will deploy.
        /// </summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Gets or sets the ARM Id of the resourcePool resource on which this virtual machine will deploy.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Gets or sets the ARM Id of the resourcePool resource on which this virtual machine will deploy.",
        SerializedName = @"resourcePoolId",
        PossibleTypes = new [] { typeof(string) })]
        public string PlacementProfileResourcePoolId { get => _body.PlacementProfileResourcePoolId ?? null; set => _body.PlacementProfileResourcePoolId = value; }

        /// <summary>The URI for the proxy server to use</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, DontShow = true, HelpMessage = "The URI for the proxy server to use")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.ParameterCategory.Runtime)]
        public global::System.Uri Proxy { get; set; }

        /// <summary>Credentials for a proxy server to use for the remote call</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, DontShow = true, HelpMessage = "Credentials for a proxy server to use for the remote call")]
        [global::System.Management.Automation.ValidateNotNull]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.ParameterCategory.Runtime)]
        public global::System.Management.Automation.PSCredential ProxyCredential { get; set; }

        /// <summary>Use the default credentials for the proxy</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, DontShow = true, HelpMessage = "Use the default credentials for the proxy")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.ParameterCategory.Runtime)]
        public global::System.Management.Automation.SwitchParameter ProxyUseDefaultCredentials { get; set; }

        /// <summary>Backing field for <see cref="ResourceUri" /> property.</summary>
        private string _resourceUri;

        /// <summary>
        /// The fully qualified Azure Resource manager identifier of the Hybrid Compute machine resource to be extended.
        /// </summary>
        [global::System.Management.Automation.Parameter(Mandatory = true, HelpMessage = "The fully qualified Azure Resource manager identifier of the Hybrid Compute machine resource to be extended.")]
        [Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.Info(
        Required = true,
        ReadOnly = false,
        Description = @"The fully qualified Azure Resource manager identifier of the Hybrid Compute machine resource to be extended.",
        SerializedName = @"resourceUri",
        PossibleTypes = new [] { typeof(string) })]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.ParameterCategory.Path)]
        public string ResourceUri { get => this._resourceUri; set => this._resourceUri = value; }

        /// <summary>Gets or sets the list of virtual disks associated with the virtual machine.</summary>
        [global::System.Management.Automation.AllowEmptyCollection]
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Gets or sets the list of virtual disks associated with the virtual machine.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Gets or sets the list of virtual disks associated with the virtual machine.",
        SerializedName = @"disks",
        PossibleTypes = new [] { typeof(Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Models.Api20231201.IVirtualDisk) })]
        public Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Models.Api20231201.IVirtualDisk[] StorageProfileDisk { get => _body.StorageProfileDisk ?? null /* arrayOf */; set => _body.StorageProfileDisk = value; }

        /// <summary>Specifies whether secure boot should be enabled on the virtual machine.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Specifies whether secure boot should be enabled on the virtual machine.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Specifies whether secure boot should be enabled on the virtual machine.",
        SerializedName = @"secureBootEnabled",
        PossibleTypes = new [] { typeof(global::System.Management.Automation.SwitchParameter) })]
        public global::System.Management.Automation.SwitchParameter UefiSettingSecureBootEnabled { get => _body.UefiSettingSecureBootEnabled ?? default(global::System.Management.Automation.SwitchParameter); set => _body.UefiSettingSecureBootEnabled = value; }

        /// <summary>Sets a value indicating whether auto logon is enabled.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Sets a value indicating whether auto logon is enabled.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Sets a value indicating whether auto logon is enabled.",
        SerializedName = @"autoLogon",
        PossibleTypes = new [] { typeof(global::System.Management.Automation.SwitchParameter) })]
        public global::System.Management.Automation.SwitchParameter WindowConfigurationAutoLogon { get => _body.WindowConfigurationAutoLogon ?? default(global::System.Management.Automation.SwitchParameter); set => _body.WindowConfigurationAutoLogon = value; }

        /// <summary>Sets auto logon count.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Sets auto logon count.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Sets auto logon count.",
        SerializedName = @"autoLogonCount",
        PossibleTypes = new [] { typeof(int) })]
        public int WindowConfigurationAutoLogonCount { get => _body.WindowConfigurationAutoLogonCount ?? default(int); set => _body.WindowConfigurationAutoLogonCount = value; }

        /// <summary>Sets domain name that vm should join.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Sets domain name that vm should join.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Sets domain name that vm should join.",
        SerializedName = @"domainName",
        PossibleTypes = new [] { typeof(string) })]
        public string WindowConfigurationDomainName { get => _body.WindowConfigurationDomainName ?? null; set => _body.WindowConfigurationDomainName = value; }

        /// <summary>Sets domain user password.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Sets domain user password.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Sets domain user password.",
        SerializedName = @"domainUserPassword",
        PossibleTypes = new [] { typeof(string) })]
        public string WindowConfigurationDomainUserPassword { get => _body.WindowConfigurationDomainUserPassword ?? null; set => _body.WindowConfigurationDomainUserPassword = value; }

        /// <summary>Sets domain username.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Sets domain username.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Sets domain username.",
        SerializedName = @"domainUsername",
        PossibleTypes = new [] { typeof(string) })]
        public string WindowConfigurationDomainUsername { get => _body.WindowConfigurationDomainUsername ?? null; set => _body.WindowConfigurationDomainUsername = value; }

        /// <summary>Sets first logon commands</summary>
        [global::System.Management.Automation.AllowEmptyCollection]
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Sets first logon commands")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Sets first logon commands",
        SerializedName = @"firstLogonCommands",
        PossibleTypes = new [] { typeof(string) })]
        public string[] WindowConfigurationFirstLogonCommand { get => _body.WindowConfigurationFirstLogonCommand ?? null /* arrayOf */; set => _body.WindowConfigurationFirstLogonCommand = value; }

        /// <summary>Sets full name of the owner of the vm.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Sets full name of the owner of the vm.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Sets full name of the owner of the vm.",
        SerializedName = @"fullName",
        PossibleTypes = new [] { typeof(string) })]
        public string WindowConfigurationFullName { get => _body.WindowConfigurationFullName ?? null; set => _body.WindowConfigurationFullName = value; }

        /// <summary>Sets org name to which the owner of the vm belongs.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Sets org name to which the owner of the vm belongs.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Sets org name to which the owner of the vm belongs.",
        SerializedName = @"orgName",
        PossibleTypes = new [] { typeof(string) })]
        public string WindowConfigurationOrgName { get => _body.WindowConfigurationOrgName ?? null; set => _body.WindowConfigurationOrgName = value; }

        /// <summary>Sets product id of the vm.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Sets product id of the vm.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Sets product id of the vm.",
        SerializedName = @"productId",
        PossibleTypes = new [] { typeof(string) })]
        public string WindowConfigurationProductId { get => _body.WindowConfigurationProductId ?? null; set => _body.WindowConfigurationProductId = value; }

        /// <summary>
        /// Specifies the time zone of the virtual machine. e.g. "Pacific Standard Time". Time zone name correspond to time zones
        /// listed at Microsoft Time Zone name values(https://learn.microsoft.com/en-us/previous-versions/windows/embedded/ms912391(v=winembedded.11)).
        /// </summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Specifies the time zone of the virtual machine. e.g. \"Pacific Standard Time\". Time zone name correspond to time zones listed at Microsoft Time Zone name values(https://learn.microsoft.com/en-us/previous-versions/windows/embedded/ms912391(v=winembedded.11)).")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Specifies the time zone of the virtual machine. e.g. ""Pacific Standard Time"". Time zone name correspond to time zones listed at Microsoft Time Zone name values(https://learn.microsoft.com/en-us/previous-versions/windows/embedded/ms912391(v=winembedded.11)).",
        SerializedName = @"timeZone",
        PossibleTypes = new [] { typeof(string) })]
        public string WindowConfigurationTimeZone { get => _body.WindowConfigurationTimeZone ?? null; set => _body.WindowConfigurationTimeZone = value; }

        /// <summary>Sets work group name that vm should join.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Sets work group name that vm should join.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Category(global::Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Sets work group name that vm should join.",
        SerializedName = @"workGroupName",
        PossibleTypes = new [] { typeof(string) })]
        public string WindowConfigurationWorkGroupName { get => _body.WindowConfigurationWorkGroupName ?? null; set => _body.WindowConfigurationWorkGroupName = value; }

        /// <summary>
        /// <c>overrideOnDefault</c> will be called before the regular onDefault has been processed, allowing customization of what
        /// happens on that response. Implement this method in a partial class to enable this behavior
        /// </summary>
        /// <param name="responseMessage">the raw response message as an global::System.Net.Http.HttpResponseMessage.</param>
        /// <param name="response">the body result as a <see cref="Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Models.Api30.IErrorResponse">Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Models.Api30.IErrorResponse</see>
        /// from the remote call</param>
        /// <param name="returnNow">/// Determines if the rest of the onDefault method should be processed, or if the method should
        /// return immediately (set to true to skip further processing )</param>

        partial void overrideOnDefault(global::System.Net.Http.HttpResponseMessage responseMessage, global::System.Threading.Tasks.Task<Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Models.Api30.IErrorResponse> response, ref global::System.Threading.Tasks.Task<bool> returnNow);

        /// <summary>
        /// <c>overrideOnOk</c> will be called before the regular onOk has been processed, allowing customization of what happens
        /// on that response. Implement this method in a partial class to enable this behavior
        /// </summary>
        /// <param name="responseMessage">the raw response message as an global::System.Net.Http.HttpResponseMessage.</param>
        /// <param name="response">the body result as a <see cref="Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Models.Api20231201.IVirtualMachineInstance">Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Models.Api20231201.IVirtualMachineInstance</see>
        /// from the remote call</param>
        /// <param name="returnNow">/// Determines if the rest of the onOk method should be processed, or if the method should return
        /// immediately (set to true to skip further processing )</param>

        partial void overrideOnOk(global::System.Net.Http.HttpResponseMessage responseMessage, global::System.Threading.Tasks.Task<Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Models.Api20231201.IVirtualMachineInstance> response, ref global::System.Threading.Tasks.Task<bool> returnNow);

        /// <summary>
        /// (overrides the default BeginProcessing method in global::System.Management.Automation.PSCmdlet)
        /// </summary>
        protected override void BeginProcessing()
        {
            var telemetryId = Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Module.Instance.GetTelemetryId.Invoke();
            if (telemetryId != "" && telemetryId != "internal")
            {
                __correlationId = telemetryId;
            }
            Module.Instance.SetProxyConfiguration(Proxy, ProxyCredential, ProxyUseDefaultCredentials);
            if (Break)
            {
                Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.AttachDebugger.Break();
            }
            ((Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.Events.CmdletBeginProcessing).Wait(); if( ((Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.IEventListener)this).Token.IsCancellationRequested ) { return; }
        }

        /// <summary>Creates a duplicate instance of this cmdlet (via JSON serialization).</summary>
        /// <returns>
        /// a duplicate instance of NewAzArcVMwareServiceApiVirtualMachineInstance_CreateExpanded
        /// </returns>
        public Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Cmdlets.NewAzArcVMwareServiceApiVirtualMachineInstance_CreateExpanded Clone()
        {
            var clone = new NewAzArcVMwareServiceApiVirtualMachineInstance_CreateExpanded();
            clone.__correlationId = this.__correlationId;
            clone.__processRecordId = this.__processRecordId;
            clone.DefaultProfile = this.DefaultProfile;
            clone.InvocationInformation = this.InvocationInformation;
            clone.Proxy = this.Proxy;
            clone.Pipeline = this.Pipeline;
            clone.AsJob = this.AsJob;
            clone.Break = this.Break;
            clone.ProxyCredential = this.ProxyCredential;
            clone.ProxyUseDefaultCredentials = this.ProxyUseDefaultCredentials;
            clone.HttpPipelinePrepend = this.HttpPipelinePrepend;
            clone.HttpPipelineAppend = this.HttpPipelineAppend;
            clone._body = this._body;
            clone.ResourceUri = this.ResourceUri;
            return clone;
        }

        /// <summary>Performs clean-up after the command execution</summary>
        protected override void EndProcessing()
        {
            var telemetryInfo = Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Module.Instance.GetTelemetryInfo?.Invoke(__correlationId);
            if (telemetryInfo != null)
            {
                telemetryInfo.TryGetValue("ShowSecretsWarning", out var showSecretsWarning);
                telemetryInfo.TryGetValue("SanitizedProperties", out var sanitizedProperties);
                telemetryInfo.TryGetValue("InvocationName", out var invocationName);
                if (showSecretsWarning == "true")
                {
                    if (string.IsNullOrEmpty(sanitizedProperties))
                    {
                        WriteWarning($"The output of cmdlet {invocationName} may compromise security by showing secrets. Learn more at https://go.microsoft.com/fwlink/?linkid=2258844");
                    }
                    else
                    {
                        WriteWarning($"The output of cmdlet {invocationName} may compromise security by showing the following secrets: {sanitizedProperties}. Learn more at https://go.microsoft.com/fwlink/?linkid=2258844");
                    }
                }
            }
        }

        /// <summary>Handles/Dispatches events during the call to the REST service.</summary>
        /// <param name="id">The message id</param>
        /// <param name="token">The message cancellation token. When this call is cancelled, this should be <c>true</c></param>
        /// <param name="messageData">Detailed message data for the message event.</param>
        /// <returns>
        /// A <see cref="global::System.Threading.Tasks.Task" /> that will be complete when handling of the message is completed.
        /// </returns>
         async global::System.Threading.Tasks.Task Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.IEventListener.Signal(string id, global::System.Threading.CancellationToken token, global::System.Func<Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.EventData> messageData)
        {
            using( NoSynchronizationContext )
            {
                if (token.IsCancellationRequested)
                {
                    return ;
                }

                switch ( id )
                {
                    case Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.Events.Verbose:
                    {
                        WriteVerbose($"{(messageData().Message ?? global::System.String.Empty)}");
                        return ;
                    }
                    case Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.Events.Warning:
                    {
                        WriteWarning($"{(messageData().Message ?? global::System.String.Empty)}");
                        return ;
                    }
                    case Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.Events.Information:
                    {
                        // When an operation supports asjob, Information messages must go thru verbose.
                        WriteVerbose($"INFORMATION: {(messageData().Message ?? global::System.String.Empty)}");
                        return ;
                    }
                    case Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.Events.Debug:
                    {
                        WriteDebug($"{(messageData().Message ?? global::System.String.Empty)}");
                        return ;
                    }
                    case Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.Events.Error:
                    {
                        WriteError(new global::System.Management.Automation.ErrorRecord( new global::System.Exception(messageData().Message), string.Empty, global::System.Management.Automation.ErrorCategory.NotSpecified, null ) );
                        return ;
                    }
                    case Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.Events.DelayBeforePolling:
                    {
                        if (true == MyInvocation?.BoundParameters?.ContainsKey("NoWait"))
                        {
                            var data = messageData();
                            if (data.ResponseMessage is System.Net.Http.HttpResponseMessage response)
                            {
                                var asyncOperation = response.GetFirstHeader(@"Azure-AsyncOperation");
                                var location = response.GetFirstHeader(@"Location");
                                var uri = global::System.String.IsNullOrEmpty(asyncOperation) ? global::System.String.IsNullOrEmpty(location) ? response.RequestMessage.RequestUri.AbsoluteUri : location : asyncOperation;
                                WriteObject(new Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.PowerShell.AsyncOperationResponse { Target = uri });
                                // do nothing more.
                                data.Cancel();
                                return;
                            }
                        }
                        break;
                    }
                }
                await Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Module.Instance.Signal(id, token, messageData, (i,t,m) => ((Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.IEventListener)this).Signal(i,t,()=> Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.EventDataConverter.ConvertFrom( m() ) as Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.EventData ), InvocationInformation, this.ParameterSetName, __correlationId, __processRecordId, null );
                if (token.IsCancellationRequested)
                {
                    return ;
                }
                WriteDebug($"{id}: {(messageData().Message ?? global::System.String.Empty)}");
            }
        }

        /// <summary>
        /// Intializes a new instance of the <see cref="NewAzArcVMwareServiceApiVirtualMachineInstance_CreateExpanded" /> cmdlet class.
        /// </summary>
        public NewAzArcVMwareServiceApiVirtualMachineInstance_CreateExpanded()
        {

        }

        /// <summary>Performs execution of the command.</summary>
        protected override void ProcessRecord()
        {
            ((Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.Events.CmdletProcessRecordStart).Wait(); if( ((Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.IEventListener)this).Token.IsCancellationRequested ) { return; }
            __processRecordId = System.Guid.NewGuid().ToString();
            try
            {
                // work
                if (ShouldProcess($"Call remote 'VirtualMachineInstancesCreateOrUpdate' operation"))
                {
                    if (true == MyInvocation?.BoundParameters?.ContainsKey("AsJob"))
                    {
                        var instance = this.Clone();
                        var job = new Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.PowerShell.AsyncJob(instance, this.MyInvocation.Line, this.MyInvocation.MyCommand.Name, this._cancellationTokenSource.Token, this._cancellationTokenSource.Cancel);
                        JobRepository.Add(job);
                        var task = instance.ProcessRecordAsync();
                        job.Monitor(task);
                        WriteObject(job);
                    }
                    else
                    {
                        using( var asyncCommandRuntime = new Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.PowerShell.AsyncCommandRuntime(this, ((Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.IEventListener)this).Token) )
                        {
                            asyncCommandRuntime.Wait( ProcessRecordAsync(),((Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.IEventListener)this).Token);
                        }
                    }
                }
            }
            catch (global::System.AggregateException aggregateException)
            {
                // unroll the inner exceptions to get the root cause
                foreach( var innerException in aggregateException.Flatten().InnerExceptions )
                {
                    ((Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.Events.CmdletException, $"{innerException.GetType().Name} - {innerException.Message} : {innerException.StackTrace}").Wait(); if( ((Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.IEventListener)this).Token.IsCancellationRequested ) { return; }
                    // Write exception out to error channel.
                    WriteError( new global::System.Management.Automation.ErrorRecord(innerException,string.Empty, global::System.Management.Automation.ErrorCategory.NotSpecified, null) );
                }
            }
            catch (global::System.Exception exception) when ((exception as System.Management.Automation.PipelineStoppedException)== null || (exception as System.Management.Automation.PipelineStoppedException).InnerException != null)
            {
                ((Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.Events.CmdletException, $"{exception.GetType().Name} - {exception.Message} : {exception.StackTrace}").Wait(); if( ((Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.IEventListener)this).Token.IsCancellationRequested ) { return; }
                // Write exception out to error channel.
                WriteError( new global::System.Management.Automation.ErrorRecord(exception,string.Empty, global::System.Management.Automation.ErrorCategory.NotSpecified, null) );
            }
            finally
            {
                ((Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.Events.CmdletProcessRecordEnd).Wait();
            }
        }

        /// <summary>Performs execution of the command, working asynchronously if required.</summary>
        /// <returns>
        /// A <see cref="global::System.Threading.Tasks.Task" /> that will be complete when handling of the method is completed.
        /// </returns>
        protected async global::System.Threading.Tasks.Task ProcessRecordAsync()
        {
            using( NoSynchronizationContext )
            {
                await ((Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.Events.CmdletGetPipeline); if( ((Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.IEventListener)this).Token.IsCancellationRequested ) { return; }
                Pipeline = Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Module.Instance.CreatePipeline(InvocationInformation, __correlationId, __processRecordId, this.ParameterSetName);
                if (null != HttpPipelinePrepend)
                {
                    Pipeline.Prepend((this.CommandRuntime as Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.PowerShell.IAsyncCommandRuntimeExtensions)?.Wrap(HttpPipelinePrepend) ?? HttpPipelinePrepend);
                }
                if (null != HttpPipelineAppend)
                {
                    Pipeline.Append((this.CommandRuntime as Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.PowerShell.IAsyncCommandRuntimeExtensions)?.Wrap(HttpPipelineAppend) ?? HttpPipelineAppend);
                }
                // get the client instance
                try
                {
                    await ((Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.Events.CmdletBeforeAPICall); if( ((Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.IEventListener)this).Token.IsCancellationRequested ) { return; }
                    await this.Client.VirtualMachineInstancesCreateOrUpdate(ResourceUri, _body, onOk, onDefault, this, Pipeline);
                    await ((Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.Events.CmdletAfterAPICall); if( ((Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.IEventListener)this).Token.IsCancellationRequested ) { return; }
                }
                catch (Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.UndeclaredResponseException urexception)
                {
                    WriteError(new global::System.Management.Automation.ErrorRecord(urexception, urexception.StatusCode.ToString(), global::System.Management.Automation.ErrorCategory.InvalidOperation, new {  ResourceUri=ResourceUri,body=_body})
                    {
                      ErrorDetails = new global::System.Management.Automation.ErrorDetails(urexception.Message) { RecommendedAction = urexception.Action }
                    });
                }
                finally
                {
                    await ((Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.Events.CmdletProcessRecordAsyncEnd);
                }
            }
        }

        /// <summary>Interrupts currently running code within the command.</summary>
        protected override void StopProcessing()
        {
            ((Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.IEventListener)this).Cancel();
            base.StopProcessing();
        }

        /// <param name="sendToPipeline"></param>
        new protected void WriteObject(object sendToPipeline)
        {
            Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Module.Instance.SanitizeOutput?.Invoke(sendToPipeline, __correlationId);
            base.WriteObject(sendToPipeline);
        }

        /// <param name="sendToPipeline"></param>
        /// <param name="enumerateCollection"></param>
        new protected void WriteObject(object sendToPipeline, bool enumerateCollection)
        {
            Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Module.Instance.SanitizeOutput?.Invoke(sendToPipeline, __correlationId);
            base.WriteObject(sendToPipeline, enumerateCollection);
        }

        /// <summary>
        /// a delegate that is called when the remote service returns default (any response code not handled elsewhere).
        /// </summary>
        /// <param name="responseMessage">the raw response message as an global::System.Net.Http.HttpResponseMessage.</param>
        /// <param name="response">the body result as a <see cref="Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Models.Api30.IErrorResponse">Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Models.Api30.IErrorResponse</see>
        /// from the remote call</param>
        /// <returns>
        /// A <see cref="global::System.Threading.Tasks.Task" /> that will be complete when handling of the method is completed.
        /// </returns>
        private async global::System.Threading.Tasks.Task onDefault(global::System.Net.Http.HttpResponseMessage responseMessage, global::System.Threading.Tasks.Task<Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Models.Api30.IErrorResponse> response)
        {
            using( NoSynchronizationContext )
            {
                var _returnNow = global::System.Threading.Tasks.Task<bool>.FromResult(false);
                overrideOnDefault(responseMessage, response, ref _returnNow);
                // if overrideOnDefault has returned true, then return right away.
                if ((null != _returnNow && await _returnNow))
                {
                    return ;
                }
                // Error Response : default
                var code = (await response)?.Code;
                var message = (await response)?.Message;
                if ((null == code || null == message))
                {
                    // Unrecognized Response. Create an error record based on what we have.
                    var ex = new Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Runtime.RestException<Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Models.Api30.IErrorResponse>(responseMessage, await response);
                    WriteError( new global::System.Management.Automation.ErrorRecord(ex, ex.Code, global::System.Management.Automation.ErrorCategory.InvalidOperation, new { ResourceUri=ResourceUri, body=_body })
                    {
                      ErrorDetails = new global::System.Management.Automation.ErrorDetails(ex.Message) { RecommendedAction = ex.Action }
                    });
                }
                else
                {
                    WriteError( new global::System.Management.Automation.ErrorRecord(new global::System.Exception($"[{code}] : {message}"), code?.ToString(), global::System.Management.Automation.ErrorCategory.InvalidOperation, new { ResourceUri=ResourceUri, body=_body })
                    {
                      ErrorDetails = new global::System.Management.Automation.ErrorDetails(message) { RecommendedAction = global::System.String.Empty }
                    });
                }
            }
        }

        /// <summary>a delegate that is called when the remote service returns 200 (OK).</summary>
        /// <param name="responseMessage">the raw response message as an global::System.Net.Http.HttpResponseMessage.</param>
        /// <param name="response">the body result as a <see cref="Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Models.Api20231201.IVirtualMachineInstance">Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Models.Api20231201.IVirtualMachineInstance</see>
        /// from the remote call</param>
        /// <returns>
        /// A <see cref="global::System.Threading.Tasks.Task" /> that will be complete when handling of the method is completed.
        /// </returns>
        private async global::System.Threading.Tasks.Task onOk(global::System.Net.Http.HttpResponseMessage responseMessage, global::System.Threading.Tasks.Task<Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Models.Api20231201.IVirtualMachineInstance> response)
        {
            using( NoSynchronizationContext )
            {
                var _returnNow = global::System.Threading.Tasks.Task<bool>.FromResult(false);
                overrideOnOk(responseMessage, response, ref _returnNow);
                // if overrideOnOk has returned true, then return right away.
                if ((null != _returnNow && await _returnNow))
                {
                    return ;
                }
                // onOk - response for 200 / application/json
                // (await response) // should be Microsoft.Azure.PowerShell.Cmdlets.ArcVMwareServiceApi.Models.Api20231201.IVirtualMachineInstance
                WriteObject((await response));
            }
        }
    }
}